/*colors*/
$primaryColor: #011F5B;
$secondaryColor: #FD4453;
$lightBlue: #92B7FF;
$yellowHighlightColor: #ffea3f;
$redHighlightColor: #FD4453;

/*fonts*/
$primaryFont:'Crimson Pro';
$secondaryFont: tablet-gothic-compressed;
$teritoryFont: tablet-gothic;
 