{% if css_style is defined %}
<style type="text/css">
  .tb-megamenu.animate .mega > .mega-dropdown-menu, .tb-megamenu.animate.slide .mega > .mega-dropdown-menu > div {
  {{ css_style }}
  }
</style>
{% endif %}
<div class="mr-auto menu-listing">
<div {{ attributes }}>
  {% if section == 'frontend' %}
    <div class="nav-collapse {{ block_config['always-show-submenu'] ? ' always-show' : '' }}">
  {% endif %}
  {{ content }}
  {% if section == 'frontend' %}
    </div>
  {% endif %}
</div>
</div>