<div class="reports">
  <div class="view" id="participants-survey">
    <section class="hero-banner without-image small">
      <style>
        .hero-banner .container:before {
            background: #ffea3f;
        }
      </style>
      <div class="container">
        <div class="row">
          <div class="col-12 col-lg-6">
            <div class="breadcrumbs-block">
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                      <a href="/">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                      <a href="/dashboard">Dashboard</a>
                    </li>
                    <li class="breadcrumb-item">
                      <a href="/dashboard/reports">Reports</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">
                      {{ title }}
                    </li>
                  </ol>
                </nav>
            </div>
            <div class="banner-info items-gap">
              <h1>
                {{ title }}
              </h1>
            </div>
          </div>
        </div>
      </div>
    </section>
    {% if data %}
      {{ data }}
    {% endif %}
  </div>
</div>




