<table border="1" class="table custom-table">
  <thead>
    {% for headerRows in header %}
      <tr>
      {% for row in headerRows %}
        <th colspan="{{ row.cspan }}">{{ row.title }}</th>
      {% endfor %}       
      </tr>
    {% endfor %}
  </thead>
  <tbody>
    {% if rows %}
      {% for row in rows %}
        <tr>
          {% for cell in row %}
            {% if loop.index0 < 2 %} {# The first two cells are headers. #}
              <th>{{ cell }}</th>
            {% else %}
              <td>{{ cell }}</td>
            {% endif %}
          {% endfor %}
        </tr>
      {% endfor %}
    {% endif  %}
  </tbody>
</table>