
<div id="participations-survey-report">
  <div class="action-container" >
    {% if header %}
      <div class="view-header">
        {{ header }}
      </div>
    {% endif %}

    {% if exposed %}
      <div class="view-filters">
        {{ exposed }}
      </div>
    {% endif %}
  </div>
  {% if rows %}
    <div class="view-content row">
      {{ rows }}
    </div>
  {% endif %}
  {% if pager %}
    {{ pager }}
  {% endif %}
</div>




