{# extends @bootstrap_barrio/layout/block.html.twig
/**
 * @file
 * Theme override for tabs.
 */
#}
{% block content %}
  {% if content %}
    <div class="nav-wrap-cst">
      <nav class="tabs" role="navigation" aria-label="{{ 'Tabs'|t }}">
        {{ content }}
      </nav>
    </div>
  {% endif %}
{% endblock %}
