.accordion-item{
  margin-bottom: 20px;
  border: 1px solid $primaryColor;
  &:first-of-type {
    border-radius: 0;
  }
  &:not(:first-of-type) {
    border-top: 1px solid $primaryColor;
  }
  .accordion-header {
    margin-bottom: 0;
    button {
      font-weight: 900;
      font-size: 30px;
      color: $primaryColor;
      padding: 13px 30px 7px 30px;
      position: relative;
      @include media-query('small') {
        padding: 13px 20px 7px 20px;
      }

      &:focus {
        box-shadow: none;
        outline: none;
        border: 0;
      }

      &:after {
        width: 27px;
        height: 2px;
        background: $primaryColor;
        content:"";
        position: absolute;
        top: 37px;
        right: 11px;
        @include media-query('small') {
          width: 24px;
          height: 2px;
          top: 33px;
        }
      }
      &:before {
        width: 2px;
        height: 28px;
        background: $primaryColor;
        content:"";
        position: absolute;
        top: 24px;
        right: 24px;
        @include media-query('small') {
          width: 2px;
          height: 25px;
          top: 22px;
          right: 22px;

        }
      }
    }
  }
}

.accordion-item {
  &:has(.accordion-button:not(.collapsed)) {
    background-color: #D6DBD6;
  }
  .accordion-button:not(.collapsed) {
    background-color: transparent;
    box-shadow: none;
    &:before {
      display: none;
    }
  }

  .accordion-body {
    padding: 0 30px 20px 30px;
    @include media-query('small') {
      padding: 0 20px 20px 20px;
    }
  }
}

.dashboard-accordions {
  padding-bottom: 125px;
  padding-top: 42px;
  @include media-query('small') {
    padding-top: 20px;
    padding-bottom: 60px;
  }
  h2 {
    border-top: 1px solid $primaryColor;
    padding-top: 42px;
    margin-bottom: 42px;
  }
  .col-12 {
    display: flex;
    flex-wrap: wrap;
    column-gap: 25px;
    row-gap: 18px;
  }
  h4 {
    width: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .contents {
    max-height: 130px;
    p {
      margin-bottom: 0;
      display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    }
  }
  .field_child_dashboard_blocks {
    display: none;
    background: #EBF2FF;
    border: 1px solid $primaryColor;
    padding: 65px 85px;
    margin-top: -1px;
    @include media-query('tablet') {
      padding: 35px 35px;
    }
    @include media-query('small') {
      padding: 30px 24px 0px 24px;
    }

  }
  .block-inline-blockdashboard-blocks {
    width: calc(50% - 13px);
    @include media-query('tablet') {
      width: 100%;
    }
    &.no-child-blocks {
      .contents:after {
        display: none;
      }
    }
    .contents {
      border: 1px solid $primaryColor;
      padding: 20px 80px 20px 14px;;
      width: 100%;
      height: 100%;
      position: relative;
      cursor: pointer;
      &:after {
        content:"";
        height: 22px;
        width: 22px;
        border-left: 3px solid $primaryColor;
        border-bottom: 3px solid $primaryColor;
        position: absolute;
        bottom: 50%;
        transform: rotate(-45deg);
        right: 25px;
        transition: all ease-in-out 0.3s;
        margin-top: 15px;
        @include media-query('small') {
          height: 15px;
          width: 15px;
          border-left: 2px solid $primaryColor;
          border-bottom: 2px solid $primaryColor;
        }
      }
    }
    &:nth-child(even) {
      .field_child_dashboard_blocks {
        position: relative;
        left: -100%;
        margin-left: -25px;
      }
    }

    &.open {
      .contents {
        background: #EBF2FF;
        &:after {
          transform: rotate(-225deg);
          transition: all ease-in-out .3s;
        }
      }
    }
  }

  
}

.field--name-field-child-dashboard-blocks {
  display: flex;
  flex-wrap: wrap;
  column-gap: 50px;
  justify-content: space-between;
  .wrapper-dash {
    width: 50%;
    max-width: 470px;
    margin-bottom: 50px;
    @include media-query ('ipad') {
      width: 47%;
    }
    @include media-query ('tablet') {
      width: 100%;
      max-width: 100%;
      margin-bottom: 30px;
    }
    h4 {
      border-bottom: 1px solid $primaryColor;
      padding-bottom: 10px;
      margin-bottom: 20px;
      font-size: 48px;
      text-transform: capitalize;
      line-height: 58px;    
      height: 60px; 
      @include media-query ('tablet') {
        height: auto;
        display: -webkit-box;
        -webkit-line-clamp: inherit;
        -webkit-box-orient: inherit;
        overflow: visible;
        font-size: 36px;
        line-height: 42px;
      }
    }
    .btn.btn-primary::before {
      display: none;
    }
    .field__item {
      text-align: left;
      a {       
        position: relative;
        padding: 0;
        border-radius: 0;
        border: 0;
        background: none;
        color: $primaryColor;
        font-weight: 700;
        display: inline-block;
        margin-bottom: 20px;
        text-decoration: none;
        &:before {
          content:"";
          height: 2px;
          width: 100%;
          position: absolute;
          left: 0;
          bottom: -2px;
          background-color: $redHighlightColor
        }
      }
    }
  }
}


.block-inline-blockaccordions {
  margin: 25px 0;
  h2 {
    text-transform: capitalize;
    margin: 0 0 25px 0;
  }
}
