.breadcrumbs-block {
  position: absolute;
  left: 10px;
  top: -40px;
  @include media-query('tablet') {
    position: static;
  }
  @include media-query('mobile') {
    display: none;
  }

  li {
    text-transform: uppercase;
    font-family: $teritoryFont;
    font-size: 12px;
    &.active {
      color: $primaryColor;
    }
    a {
      text-transform: uppercase;
      font-family: $teritoryFont;
      font-size: 12px;
      text-decoration: none;
      &:hover {
        color: $redHighlightColor;
      }
    }
  }
}


.dashboard-header {
  position: absolute;
  right: 0;
  display: inline-flex;
  gap: 10px;
  font-size: 12px;
  font-family: $teritoryFont;
  top: 15px;
  @media(max-width: 1199px) { 
    position: static;
    margin-top: 10px;
  }
  a {
    font-weight: 600;
  }
}
.dashboard-breadcrumbs {
  position: relative;
  z-index: 11;
  top: 13px;
}

body:has(.view-dashboard-header) .breadcrumbs-block {
  display: none;
}
@media(max-width: 1199px) {
  .view-dashboard-header .view-content.row {
    margin: 0;
    padding: 0 10px;
  }
}