.breadcrumbs-block {
  position: absolute;
  left: 10px;
  top: -40px;
  @include media-query('tablet') {
    position: static;
  }
  @include media-query('mobile') {
    display: none;
  }
  li {
    text-transform: uppercase;
    font-family: $teritoryFont;
    font-size: 12px;
    &.active {
      color: $primaryColor;
    }
    a {
      text-transform: uppercase;
      font-family: $teritoryFont;
      font-size: 12px;
      text-decoration: none;
      &:hover {
        color: $redHighlightColor;
      }
    }
  }
}
