// .view-event-calendar {

//   .view-content.row {
//     margin: 0;
//   }

//   .view-filters {
//    display: none; 
//   }
//   .event-calendar {
//     display: flex;
//     max-width: 1326px;
//     margin: 0 auto;  
//     margin-top: 60px;
//     margin-bottom: 60px;
//     border-top: 1px solid $primaryColor;
//     padding-top: 20px;
//     @include media-query ('large') {
//       padding-left: 15px;
//       padding-right: 15px;
//     }
//     @include media-query ('ipad') {
//       flex-wrap: wrap;
//     }
//   }
//   .calendar-filter {
//     width: 250px;
//     @include media-query ('ipad') {
//       width: 100%;
//       max-width: 350px;
//       margin-bottom: 30px;
//     }
//     .btn-teritory {
//       width: 100%;
//       margin-bottom: 20px;
//     }

//     .event-types {
//       border-bottom: 1px solid $primaryColor;
//       padding-bottom: 14px;
//       margin-bottom: 30px;
//     }

//     .form-item.checkbox {
//       margin-bottom: 4px;

//       label{
//         font-size: 16px;
//         padding-left: 25px;
//         &:before {
//           width: 16px;
//           height: 16px;
//           top: 2px;
//         }
//         &:after {           
//           height: 6px;
//           width: 10px;          
//           left: 3px;
//           top: 6px;           
//         }
//       }
//     }

//     .calendar-filter-title {
//       font-size: 30px;
//       text-transform: capitalize;
//       font-family: tablet-gothic-compressed;
//       font-weight: 800;
//       letter-spacing: normal;
//       margin: 12px 0 20px 0;
//     }

//   }
//   .calendar-container {
//     width: calc(100% - 280px);
//     margin-left: 30px;
//     @include media-query ('ipad') {
//       width: 100%;
//       margin-left: 0px;
//     }
//   }

//   .fc-scroller {
//     height: auto !important;
//   }

//   .fc-toolbar {
//     h2 {     
//       margin: 0;
//       text-transform: uppercase;
//       font-size: 36px;
//       position: relative;
//       line-height: normal;
//       top: 7px;
//     }
//     .fc-left {
//       display: inline-flex;
//       flex-direction: row-reverse;
//       .fc-today-button {
//         background: none;
//         color: $primaryColor;
//         opacity: 1;
//         text-transform: capitalize;
//         padding: 9px 18px;
//         border-radius: 8px;
//         margin-left: 0;
//         margin-right: 30px;
//         font-family: $teritoryFont;
//         &:hover {
//           color: #fff;
//           background: $primaryColor;
//         }
//       }

//       .fc-button-group {
//         button {
//           background: none;
//           border: 0;
//           border-radius: 0;
//           padding: 0;
//           &:focus {
//             border: 0;
//             box-shadow: none;
//             outline: none;
//           }
//           span {
//             &:before {
//               display: none;
//             }
//           }
//           .fc-icon-chevron-left {
//             display: inline-block;
//             height: 25px;
//             width: 30px;
//             background: url("./../assets/images/arrow-style1.jpg")no-repeat;
//             background-position: center;            
//             margin-right: 5px;
//             background-size: 30px;
//           }
//           .fc-icon-chevron-right {
//             display: inline-block;
//             height: 25px;
//             width: 30px;
//             background: url("./../assets/images/arrow-style1.jpg")no-repeat;
//             background-position: center;
//             margin-left: 5px;
//             transform: scaleX(-1);
//             background-size: 30px;
//           }
//         }
//       }
//     }
//     .fc-center {
//       margin-right: auto;
//       margin-left: 30px;
//     }
//   }
// }


// .fc-unthemed .fc-content, .fc-unthemed .fc-divider, .fc-unthemed .fc-list-heading td, .fc-unthemed .fc-list-view, .fc-unthemed .fc-popover, .fc-unthemed .fc-row, .fc-unthemed tbody, .fc-unthemed td, .fc-unthemed th, .fc-unthemed thead {
//   border-color: #BEC6D5;
// }

// .fc-event-container {
//   a {
//     background-color: transparent !important;
//     border: 0;
//     border-radius: 0;
//     color: $primaryColor;
//     font-size: 12px;
//     font-family: $teritoryFont;
//     &:hover {
//       background-color: transparent !important;
//     border: 0;
//     border-radius: 0;
//     color: $primaryColor;
//     }
//     .event_title  {
//       font-weight: 600;
//     }
//   }
// }

// .fc-ltr .fc-dayGrid-view .fc-day-top .fc-day-number {
//   float: none;
//   font-size: 12px;
//   font-weight: 600;
//   font-family: $teritoryFont;
// }

// .fc-ltr .fc-dayGrid-view .fc-day-top.fc-past {
//   opacity: 1;
//   .fc-day-number {
//     font-weight: 400;
//     opacity: 1;
//   }
// }

// .fc-content-skeleton {
//   td {
//     text-align: center;
//   }
// }

// .fc-dayGrid-view {
//   .fc-body {
//     .fc-row {
//       max-height: 150px;
//     }
//   }
// }


// .fc-row {
//   .fc-content-skeleton {
//     tbody {
//       td.fc-day-top {
//         padding: 5px 8px 0px 8px;
//         text-align: center;
//       }
//     }
//     tbody {
//       td {
//         padding: 0 8px 8px 8px;
//         text-align: left;
//       }
//     }
//   }

// }
// .fc-head {
//   .fc-head-container.fc-widget-header {
//     border-top: 0;
//     border: 0;
//     .fc-row.fc-widget-header {
//       border-color :transparent;
//     }
//   }
// }
// .fc-unthemed {
//   thead {
//     border-color: transparent;
//   }
//   th {
//     text-transform: uppercase;    
//     font-size: 12px;
//     font-family: $teritoryFont;
//     border-color: transparent;
//   }
// }

.calender-page {
  h5 {
    margin-top: 15px;
  }

  .calendar-view {
    >.row {
      border-top: 1px solid $primaryColor;
      padding-top: 20px;
    }

    .mobile-view {
      display: none;
      margin-bottom: 30px;

      @include media-query ('tablet') {
        display: block;

        .btn {
          width: 100%;

          &:not(:last-child) {
            margin-bottom: 10px;
          }
        }
      }
    }

    .btn-teritory {
      &:hover {
        background: $yellowHighlightColor;
        color: $primaryColor;
        border-color: $yellowHighlightColor;
      }
    }
  }

  .calender-left {
    width: 250px;

    @include media-query ('tablet') {
      width: 100%;
      display: none;
    }

    h5 {
      margin-bottom: 15px;
    }

    .view-filters {
      border-bottom: 1px solid $primaryColor;
      padding-bottom: 5px;
      padding-top: 15px;
    }

    .btn-teritory {
      width: 100%;
      text-transform: none;

      &:not(:last-child) {
        margin-bottom: 20px;
      }

      &:hover {
        background: #ffea3f;
        color: #011f5b;
        border-color: #ffea3f;
      }
    }
  }

  .calender-right {
    width: calc(100% - 255px);
    margin-left: 5px;
    position: relative;

    @include media-query ('tablet') {
      width: 100%;
      margin-left: 0;
    }

    .select-outer {
      display: inline-block;
      float: inline-end;
      position: absolute;
      right: 12px;
      z-index: 1;
      @include media-query('mobile'){
        min-width: 90px;
        &::after{
          right: 10px;
          top: 20px;
          height: 8px;
          width: 8px;
        }
      }
      select {
        &.redirect-dropdown {
          @include media-query-min('mobile') {
            min-width: 150px;

          }
          @include media-query('mobile'){
            height: 40px;
            font-size: 16px;
          }
        }
      }
    }

    .pager__items {
      display: inline-flex;
      padding: 0;
      list-style-type: none;
      position: absolute;
      z-index: 1;

      @include media-query ('tablet') {
        flex-direction: row;
        margin-top: 8px;
      }

      .pager__current {
        order: 1;
        margin-right: 30px;

        @include media-query ('tablet') {
          display: none;
        }

        .js-form-item {
          border: 1px solid $primaryColor;
          border-radius: 10px;
          padding: 15px 15px 12px 15px;
          font-family: $teritoryFont;
          font-size: 18px;
          font-weight: 400;
          line-height: normal;
          margin: 5px 0 4px 0 !important;
          width: max-content;
          text-transform: none;

          &:hover {
            background: $primaryColor;
            color: #fff;
          }
        }
      }

      .pager__previous {
        order: 2;

        a {
          display: inline-flex;
          align-items: center;
          padding-right: 25px;
          position: relative;
          font-size: 0;

          &::after {
            content: "";
            background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="21" height="24" viewBox="0 0 21 24"><path fill="%23011F5B" d="M0.59531236 11.470312L0.065624714 12L0.59531236 12.529687L8.4703121 20.404686L9 20.934376L10.059376 19.875L9.5296879 19.345314L2.9343746 12.75L20.25 12.75L21 12.75L21 11.25L20.25 11.25L2.9343746 11.25L9.5296879 4.6546869L10.059376 4.125L9 3.0656247L8.4703121 3.5953131L0.59531236 11.470312Z"/></svg>') no-repeat center;
            width: 21px;
            height: 24px;
            position: absolute;
            left: 0;
            /* Aligns SVG to the left of the text */
            top: 50%;
            transform: translateY(-50%);
          }
        }
      }

      .pager__next {
        order: 3;

        a {
          display: inline-flex;
          align-items: center;
          padding-right: 30px;
          position: relative;
          font-size: 0;

          &::after {
            content: "";
            background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="21" height="24" viewBox="0 0 21 24"><path fill="%23011F5B" d="M20.404686 12.529687L20.934376 12L20.404688 11.470312L12.529688 3.5953131L12 3.0656247L10.940624 4.125L11.470312 4.6546869L18.065624 11.25L0.75 11.25L0 11.25L0 12.75L0.75 12.75L18.065624 12.75L11.470312 19.345314L10.940624 19.875L12 20.934376L12.529687 20.404688L20.404686 12.529688Z"/></svg>') no-repeat center;
            width: 21px;
            height: 24px;
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
          }
        }
      }

      .js-form-item {
        margin: 0 !important;
        padding: 0;
      }
    }
  }

  .calendar-view-table {
    .calendar-view-day {
      overflow: hidden;
    }

    caption {
      padding: 0;
      font-family: $secondaryFont;
      text-transform: uppercase;
      font-weight: 700;
      color: $primaryColor;
      font-size: 36px;
      line-height: 36px;
      display: inline-block;
      text-align: left;
      padding-bottom: 10px;
      padding-top: 10px;
      padding-left: 215px;
      margin-bottom: 10px;
      transform: translateY(5px);

      // @media only screen and (-webkit-min-device-pixel-ratio: 1) and (min-width: 1024px) {
      //   transform: translateY(0);
      // }
      @include media-query ('tablet') {
        padding-left: 0;
        text-align: center;
        font-size: 24px;
        line-height: 24px;
      }
    }

    .calendar-view-day__rows {
      .field-content {
        >div {
          padding: 0 6px;
          transition: all 0.3s ease-in-out;

          &:hover {
            border-radius: 4px;
            background-color: #EBF2FF;
          }

          &.event-schedule {
            overflow: hidden;
            display: inline-flex;
            gap: 2px;
            width: 100%;

            div {
              &.field_event_schedule_start_end_value {
                min-width: fit-content;
              }
            }

            .title {
              a {
                white-space: nowrap;
                font-weight: 600;

                span {
                  font-weight: 400;
                }
              }
            }
          }
        }
      }

    }

    td {
      padding-left: 4px;
      padding-right: 4px;
      overflow: hidden;
    }
  }
}

.calendar-view-table .next-month,
.calendar-view-table .previous-month {
  background-color: #fff;
}

.calendar-view-table.table> :not(caption)>*>* {
  border-left: 1px solid #bec6d5;
  border-bottom: 1px solid #bec6d5;
  box-shadow: none;
  border-right: 0;
  border-top: 0;

  @include media-query ('tablet') {
    border-left: 0;
  }
}

.calendar-view-table.table tr td:last-child {
  border-right: 1px solid #BEC6D5;

  @include media-query ('tablet') {
    border-right: 0;
  }
}

.calendar-view-table {
  &.calendar-view-week {
    .calendar-view-day {
      .calendar-view-day__number {
        font-size: 24px;
        font-weight: 700;
        line-height: 24px;
        padding: 10px;
        min-width: 40px;
      }
    }

    .calendar-view-day__rows {
      .field-content {
        &>div {
          padding: 0;

          &:hover {
            background-color: #ecf2ff;
          }
        }
      }
    }

    .calendar-view-day__number {
      display: inline-block;
      width: auto;
      min-width: 40px;
      // min-width: 22px;
      text-align: center;
      margin: 0 auto 10px !important;
    }

    .is-today {
      .calendar-view-day__number {
        background-color: $lightBlue !important;
        border-radius: 10px;

      }
    }
  }

  thead {
    th {
      background: none;
      color: $primaryColor;
      text-transform: uppercase;
      font-size: 14px;
      font-family: $teritoryFont;
      border-left: 0 !important;
      padding: 0;
      text-align: center;
      font-weight: 400;

    }
  }

  .calendar-view-day {
    padding: 0;
  }

  .calendar-view-day__row {
    padding: 0;
    border: 0;
    border-radius: 0;

    * {
      font-family: $teritoryFont;
      font-size: 12px;
      color: $primaryColor;
      margin-bottom: 0;
      line-height: 22px;
    }
  }

  .weekly-calendar {
    background-color: #ecf2ff;
    border-radius: 4px;
    padding: 0 6px !important;

    &:not(:last-child) {
      margin-bottom: 2px;
    }
.campus-wide{
  span{
    font-weight: 600;
  }
}
    .title {
      a {
        font-weight: 600;
        white-space: nowrap;
        span {
          font-weight: 400;
          display: block;
        }
      }
    }
  }

  .calendar-view-day__rows {
    gap: 0;
  }

  .is-today {
    .calendar-view-day__number {
      background-color: $lightBlue !important;
      border-radius: 8px;
      width: auto;
      min-width: 22px;
      padding: 4px;
      margin: 0 auto;
      font-weight: 600;
    }
  }

  .calendar-view-day__number {
    margin: 0;
    height: auto;
    width: 100%;
    background: none !important;
    padding: 0;
    font-size: 13px;
    color: $primaryColor;
    border-radius: 0;
    font-family: $teritoryFont;
    font-weight: 400;
  }

  #more-button-container {
    cursor: pointer;
    font-family: $teritoryFont;
    font-size: 12px;
    color: $primaryColor;
    padding: 0 6px;
    border-radius: 4px;
    font-weight: 600;

    &:hover {
      background-color: #ebf2ff;
    }
  }
}

.view-id-calendar {
  div#edit-type {
    display: none;
  }
}

.calender-page .calender-left .view-filters {
  div.js-form-item {
    padding-left: 0;

    input[type="checkbox"] {
      display: none;
    }

    label {
      position: relative;
      padding-left: 30px;
      font-size: 18px;
      font-weight: 400;
      text-transform: none;

      @include media-query('ipad') {
        padding-left: 25px;
      }

      &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 20px;
        height: 20px;
        border: 1px solid $primaryColor;
      }
    }

    input[type="checkbox"]:checked+label {
      &:before {
        background-color: $primaryColor;
      }

      &:after {
        content: "";
        position: absolute;
        height: 8px;
        width: 13px;
        border-left: 2px solid #fff;
        border-bottom: 2px solid #fff;
        left: 4px;
        top: 4px;
        transform: rotate(-45deg);

        @include media-query('ipad') {
          top: 2px;
        }
      }
    }
  }
}

.page-view-calendar {
  .hero-banner.without-image.small {
    .internal-links {
      @include media-query ('tablet') {
        width: calc(100% - 20px);
      }
    }
  }

  .container {
    .row {
      @include media-query ('tablet') {
        .row {
          margin-left: 0;
          margin-right: 0;

          .view-calendar {
            padding-left: 0;
            padding-right: 0;
          }
        }
      }
    }
  }
}

time.calendar-view-day__number:hover {
  cursor: pointer;
}

.mac_os {
  .calender-page {
    .calendar-view-table {
      caption {
        transform: translateY(0px);
      }
    }
  }

  .select-outer {
    select {
      padding-top: 0;
    }
  }
}