.container {
  max-width: 1350px;
  @include media-query('large') {
    padding-left: 18px;
    padding-right: 18px;
  }
  .row {
    @include media-query('large') {
      margin-left: -18px;
      margin-right: -18px;
    }
  }
  .col-12 {
    @include media-query('large') {
      padding-left: 18px;
      padding-right: 18px;
    }
  }
}

.container-fluid {
  @include media-query('large') {
    padding-left: 18px;
    padding-right: 18px;
  }
  .row {
    @include media-query('large') {
      margin-left: -18px;
      margin-right: -18px;
    }
  }
  .col-12 {
    @include media-query('large') {
      padding-left: 18px;
      padding-right: 18px;
    }
  }
}

img {
  max-width: 100%;
}

.space {
  padding: 80px 0;

  @include media-query('mobile') {
    padding: 50px 0;
  }

}
.space-top {
  padding-top: 80px;
  @include media-query('mobile') {
    padding-top: 50px;
  }
}
.space-bottom {
  padding-bottom: 80px;
  @include media-query('mobile') {
    padding-bottom: 50px;
  }
}

.bg-img {
  background-position: center !important;
  background-size: cover !important;
}


.instagram-posts {
  iframe {
    width: 100%;
    border-radius: 10px !important;
    height: 800px;

    @include media-query('medium') {
      height: 650px;
    }
  }
}

body {
  .space-m-top-none{
    margin-top: 0;
  }
  .space-p-top-none{
    padding-top: 0;
  }
  .space-m-bottom-none{
    margin-bottom: 0;
  }
  .space-p-bottom-none{
    padding-bottom: 0;
  }
}
.node__content{
  p {
    font-size: 18px;
  }
}

.space-m{
  margin: 80px 0;
  @include media-query('mobile') {
    margin: 50px 0;
  }
}
.space-mt{
  margin-top: 80px;
  @include media-query('mobile') {
    margin-top: 50px;
  }
}
.space-mb{
  margin-bottom: 80px;
  @include media-query('mobile') {
    margin-bottom: 50px;
  }
}

.user-logged-in nav.tabs {
  position: relative;
  z-index: 11;
  margin: 0;
}
