.container {
  max-width: 1350px;

  @include media-query('large') {
    padding-left: 18px;
    padding-right: 18px;
  }

  .row {
    @include media-query('large') {
      margin-left: -18px;
      margin-right: -18px;
    }
  }

  .col-12 {
    @include media-query('large') {
      padding-left: 18px;
      padding-right: 18px;
    }
  }
}

.container-lg {
  max-width: 1350px;
}

.container-fluid {
  @include media-query('large') {
    padding-left: 18px;
    padding-right: 18px;
  }

  .row {
    @include media-query('large') {
      margin-left: -18px;
      margin-right: -18px;
    }
  }

  .col-12 {
    @include media-query('large') {
      padding-left: 18px;
      padding-right: 18px;
    }
  }
}

img {
  max-width: 100%;
}

.space {
  padding: 80px 0;

  @include media-query('mobile') {
    padding: 50px 0;
  }

}

.space-top {
  padding-top: 80px;

  @include media-query('mobile') {
    padding-top: 50px;
  }
}

.space-bottom {
  padding-bottom: 80px;

  @include media-query('mobile') {
    padding-bottom: 50px;
  }
}

.space-medium-top {
  padding-top: 50px;
}

.space-medium-bottom {
  padding-bottom: 50px;
}


.spacing-top-spacing {
  padding-top: 80px;

  @include media-query('mobile') {
    padding-top: 50px;
  }
}

.spacing-bottom-spacing{
  padding-bottom: 80px;

  @include media-query('mobile') {
    padding-bottom: 50px;
  }
}

.spacing-top-medium-spacing {
  padding-top: 50px;
}

.spacing-bottom-medium-spacing {
  padding-bottom: 50px;
}

.top-and-bottom-spacing{
  padding: 80px 0;

  @include media-query('mobile') {
    padding: 50px 0;
  }
}


.bg-img {
  background-position: center !important;
  background-size: cover !important;
}

.instagram-posts {
  iframe {
    width: 100%;
    border-radius: 10px !important;
    height: 800px;

    @include media-query('medium') {
      height: 650px;
    }
  }
}

body {
  .space-m-top-none {
    margin-top: 0;
  }

  .space-p-top-none {
    padding-top: 0;
  }

  .space-m-bottom-none {
    margin-bottom: 0;
  }

  .space-p-bottom-none {
    padding-bottom: 0;
  }
}

.node__content {
  p {
    font-size: 18px;
  }
}

// .node--type-page{
//   p{
//     @include media-query-min('mobile') {
//       font-size: 24px;
//       line-height: 28px;
//   } 
//   }
// }

.space-m {
  margin: 80px 0;

  @include media-query('mobile') {
    margin: 50px 0;
  }
}

.space-mt {
  margin-top: 80px;

  @include media-query('mobile') {
    margin-top: 50px;
  }
}

.space-mb {
  margin-bottom: 80px;

  @include media-query('mobile') {
    margin-bottom: 50px;
  }
}

.user-logged-in nav.tabs {
  position: relative;
  z-index: 11;
  margin: 0;
}

.user-logged-in nav.tabs ul {
  padding: 20px;
}

.heading-with-top-border h2 {
  margin-top: 80px;
  padding-top: 40px;
  border-top: 1px solid #000;

  @include media-query ('small') {
    margin-top: 35px;
    padding-top: 25px;
  }
}

.moderation-alert p {
  background: #EBF2FF;
  display: inline-flex;
  padding: 20px 18px 14px 18px;
  border-radius: 10px;
  font-size: 18px;
  font-family: $teritoryFont;
  gap: 10px;
  align-items: center;
  width: 100%;
  color: $primaryColor;
  font-weight: 600;
  margin-bottom: 40px;

  @media(max-width: 767px) {
    font-weight: 400;
    padding: 15px;
    font-size: 12px;
  }

  svg {
    position: relative;
    top: -3px;
  }
}

.user-roles {
  @media(max-width: 767px) {
    padding-left: 13px;
    padding-right: 13px;
  }

  pre {
    margin: 0;

    code {
      font-family: $secondaryFont;
      text-transform: capitalize;
      font-size: 60px;
      line-height: 60px;
      font-weight: 700;
      margin: 80px 0 0 0;
      display: block;
      border-top: 1px solid $primaryColor;
      padding-top: 40px;

      @media(max-width: 1300px) {
        font-size: 25px;
        line-height: 38px;
      }

      @media(max-width: 991px) {
        margin-top: 10px;
        padding-top: 20px;
      }
    }
  }
}

.request-box {
  padding: 30px;
  border-radius: 10px;
  max-width: 875px;
  margin: 30px 18px;

  &.blue {
    background: #EBF2FF;
  }

  &.green {
    background: #B9F1C3;
  }



  h4 {
    margin-bottom: 30px;

    @include media-query ('mobile') {
      text-align: center;
    }
  }

  h6 {
    font-size: 18px;
    font-weight: 700;
    font-family: $teritoryFont;
    position: relative;
    padding-left: 45px;
    margin-bottom: 0px;
    padding-bottom: 30px;

    @include media-query ('mobile') {
      padding-left: 0px;
      text-align: center;
      padding-top: 40px;
    }

    &:before {
      background: url("../../assets/images/info-icon.svg")no-repeat;
      content: "";
      position: absolute;
      left: 5px;
      top: -5px;
      width: 26px;
      height: 26px;

      @include media-query ('mobile') {
        left: 50%;
        top: 0;
        margin-left: -13px;
      }
    }

    a {
      text-decoration: underline;
      text-transform: uppercase;
    }
  }

  ul {
    list-style-type: none;
    margin: 30px 0;
    padding: 0 0 0 45px;
    font-family: $teritoryFont;

    @include media-query ('mobile') {
      padding: 0;
      font-size: 14px;
    }

    strong {
      font-weight: 600;
      width: 110px;

      @include media-query ('mobile') {
        width: 95px;
      }
    }

    span {
      display: block;
      width: calc(100% - 130px);

      @include media-query ('mobile') {
        width: calc(100% - 105px);
      }
    }

    li {
      display: flex;
      column-gap: 20px;
      margin-bottom: 10px;

      @include media-query ('mobile') {
        column-gap: 10px;
      }
    }
  }

  .layout-builder__layout {
    .col-12 {
      padding: 0;
    }
  }

  .block-layout-builder {
    display: flex;
    align-content: center;
    gap: 20px;

    h2 {
      font-size: 16px;
      line-height: 22px;
      font-weight: 6;
      margin-bottom: 0;
      padding: 3px 0 3px 20px;
      font-weight: 600;
      font-family: tablet-gothic;
      width: 120px;

      @include media-query('mobile') {
        padding-left: 0;
        width: 100px;
      }
    }

    .content {
      font-size: 16px;
      line-height: 22px;
      font-weight: 400;
      font-family: tablet-gothic;
      width: calc(100% - 120px);

      .field--label-inline {
        border: 0;
        padding: 0;
        margin: 0;
      }

      a {
        text-decoration: none;
      }
    }

    .content:has(.footer-note) {
      width: 100%;
    }

    .content:has(.field--name-body) {
      width: 100%;
    }

  }

  .btns-wrapper {
    text-align: center;
  }

  .footer-note {
    padding-left: 45px;
    padding-top: 30px;
    border-top: 1px solid $primaryColor;
    padding-left: 0;
    margin-top: 30px;

    @include media-query ('mobile') {
      padding-left: 0px;
      padding-top: 20px;
    }

    h6 {
      font-weight: 700;
      font-family: $teritoryFont;
      padding-left: 0;
      padding-bottom: 0;
      font-size: 16px;
      line-height: 22px;

      @include media-query ('mobile') {
        text-align: left;
        padding-top: 0;
      }

      &:before {
        display: none;
      }
    }

    p {
      font-family: $teritoryFont;
      font-size: 16px;
      line-height: 22px;
      margin-bottom: 0;
    }
  }
}

.room-reservation-title {
  padding-top: 80px;

  h2 {
    margin-bottom: 0;
    font-size: 36px;
    line-height: 36px;
  }
}

.notice-details-wrap {
  .block-field-blocknodenoticestitle {
    h1 {
      text-transform: capitalize;
    }
  }

  .block-field-blocknodenoticesfield-event-schedule {
    .field__item {
      display: flex;
      align-items: center;
      font-size: 18px;
      margin-bottom: 10px;

      img {
        margin-right: 15px;
      }
    }
  }

  .block-field-blocknodenoticesfield-text-box {
    .field__item {
      display: flex;
      align-items: center;
      font-size: 18px;
      margin-bottom: 10px;

      img {
        margin-right: 15px;
      }
    }
  }

  .block-field-blocknodenoticesfield-file {
    .field--name-field-file {
      font-size: 20px;

      .field__label {
        font-weight: 700;
      }
    }

    @include media-query ('mobile') {
      margin-bottom: 35px;
    }
  }

  .block-field-blocknodenoticesfield-banner {
    img {
      width: auto;
      height: auto;
      max-width: 100%;
    }
  }
}


.js-pager__items.pagination .page-item,
.js-pager__items.pagination .page-item .page-link {
  border-color: #011f5b;
  color: #011f5b;
  text-decoration: none;
}

.action-container+.view-content.row {
  margin: 0;
  overflow: auto;
  width: 100%;
  margin-bottom: 30px;
  max-height: 600px;
  border-top: 0.5px solid #ccc;
}

.js-pager__items {
  &.pagination {
    padding: 0 0 20px 0;

    .page-item {
      &.active {
        .page-link {
          color: #fff;
        }
      }
    }
  }
}

[id^="views-exposed-form-users-reports-page-"],
[id^="views-exposed-form-room-reservation-reports-page-"],
[id^="views-exposed-form-moderation-reports-page-"],
[id^="views-exposed-form-moderation-reports-event-"],
[id^="views-exposed-form-events-evaluation-report-page-"],
[id^="views-exposed-form-contents-change-report-page-"],
[id^="views-exposed-form-rooms-reservation-moderation-reports-page-"],
[id^="views-exposed-form-videos-link-report-page-"],
[id^="views-exposed-form-contents-delete-report-page-"]{
  .d-flex {
    gap: 12px;

    @media(max-width: 767px) {
      gap: 0 12px;
    }
  }

  .js-form-item {
    @include media-query('mobile') {
      width: 100%;
    }
  }

  .form-control {
    min-height: 38px;
    height: auto;
    max-height: 38px;
    padding-top: 0;
    padding-bottom: 0;
    line-height: normal;
    border-radius: 6px;
    border-color: #dee2e6;
    font-size: 16px;
    padding-top: 2px !important;
    padding-bottom: 0 !important;
  }

  .js-form-type-textfield {
    display: flex;
    flex-wrap: wrap;
    // flex-direction: column-reverse;
    align-items: flex-start;


    input {
      min-height: 38px;
      height: auto;
      max-height: 38px;
      padding-top: 0;
      padding-bottom: 0;
      line-height: normal;
      border-radius: 6px;
      border-color: #dee2e6;
      padding-top: 2px !important;
      padding-bottom: 0 !important;
    }

    label {
      padding-top: 0;
      padding-bottom: 0;
      height: auto;
      // margin-bottom: 0;
      background: none;
      padding: 0;
      transform: none !important;
      position: static;

      &:after {
        display: none;
      }
    }
  }

  .btn.btn-primary {
    color: #fff;
    font-weight: 400;
    border: 1px solid #011f5b;
    font-size: 16px;
    padding: 6px 20px;
    border-radius: 4px;
    background: #011f5b;

    &:hover {
      color: #011f5b;
      background: #fff;
    }

    &:before {
      display: none;
    }
  }


}



[id^="views-exposed-form-contents-change-report-page-"] {
  align-items: flex-end;
  display: flex;

}

.view-filters+.view-content.row {
  margin: 0;
}

.view-users-reports {
  padding-top: 30px;
}

.view-users-reports,
.action-container {
  .view-header {
    border-bottom: 1px solid #011f5b;
    padding-bottom: 20px;
    margin-bottom: 20px;
    text-align: right;

    .views-display-link {
      color: #011f5b;
      border: 1px solid #011f5b;
      font-size: 16px;
      padding: 15px 20px 12px 20px;
      border-radius: 4px;
      background: #fff;
      text-decoration: none;
      font-weight: 700;
      text-transform: uppercase;
      font-family: $teritoryFont;
      line-height: normal;
      display: inline-block;

      &:hover {
        color: #fff;
        background: #011f5b;
      }
    }
  }
}


.reports:has(table.table) {
  .hero-banner {
    &.without-image {
      &.small {
        .col-lg-6 {
          min-height: 120px;
        }
      }
    }
  }
}

.hide-techs {
  .field--name-field-block-display-condition-wi {
    display: none;
  }
}

@media(max-width: 991px) {
  .hide-in-mobile {
    display: none;
  }
}

@media(max-width: 767px) {
  .no-gutters {
    margin: 0;

    >.col-12 {
      padding: 0;
    }
  }

  .row.row-offcanvas.row-offcanvas-left {
    margin: 0;

    main {
      padding: 0;
    }
  }
}

.banner-info {
  .info {
    margin-top: 20px;

    ul {
      li {
        margin-bottom: 1rem;

        &::marker {
          color: #92b7ff;
        }

        a {
          text-decoration: none;

          &:hover {
            opacity: 0.8;
          }
        }
      }
    }
  }
}

.view-webform-export {
  .pagination {
    justify-content: center;
  }
}

.layout-builder-form {
  .form-actions {
    [data-drupal-selector="edit-submit"] {
      margin-right: 1rem;
      border: 1px solid #011f5b;
      border-radius: 10px;
      padding: 17px 20px;
      text-align: center;

      &::before {
        display: none;
      }

      &:hover {
        background-color: $yellowLightColor;
        border-color: $yellowLightColor;
      }
    }

    [data-drupal-selector="edit-discard-changes"] {
      border: 1px solid #011f5b;
      border-radius: 10px;
      padding: 17px 20px;
      text-align: center;
      background-color: #011f5b;
      color: #fff;

      &::before {
        display: none;
      }

      &:hover {
        background-color: $yellowLightColor;
        border-color: $yellowLightColor;
        color: #011f5b;
      }
    }

    [data-drupal-selector="edit-preview-toggle"] {
      margin-top: 1rem;
    }
  }
}

.node--type-house-landing-page {
  .node__content {
    p {
      font-size: 24px;
      line-height: 28px;

      @include media-query('mobile') {
        font-size: 18px;
        line-height: normal;
      }
    }

    li {
      font-size: 26px;
      line-height: 28px;
      margin-bottom: 1rem;

      @include media-query('mobile') {
        font-size: 20px;
        line-height: normal;
        margin-bottom: 0.5rem;
      }

      &::marker {
        color: #92B7FF;
      }
    }
  }
}

.block-inline-blockbasic {
  p {
    @include media-query-min('mobile') {
      font-size: 24px;
      line-height: 28px;
    }
  }

  ul {
    li {
      font-size: 24px;
      line-height: 28px;
      margin-bottom: 1rem;
      margin-left: 10px;

      @include media-query('mobile') {
        font-size: 18px;
        line-height: normal;
        margin-bottom: 0.5rem;
      }

      &::marker {
        color: #92B7FF;
      }
    }

}
ol{
  li {
    font-size: 24px;
    line-height: 26px;
    margin-bottom: 1rem;
    margin-left: 10px;
    @include media-query('mobile') {
      font-size: 18px;
      line-height: normal;
      margin-bottom: 0.5rem;
    }
}
}
}

.image-block {
  &.align-center{
  text-align: center;
}
}

[data-drupal-selector="edit-field-program-communities"],
[data-drupal-selector="edit-field-college-houses"]{
  legend{
    &.form-required{
      &::after{
        display: none;
      }
    }
  }
}
.blockquote-block{
  p{
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    font-family: $teritoryFont;
    margin-top: 15px;
  }
}

.block-inline-blockvideo-block {
  .field--name-field-media-oembed-video {
    iframe {
      width: 100%;
      height: auto; 
      min-height: 300px; 
    }
  }
}
.reports{
.views-exposed-form{
  .d-flex {
    gap: 12px;

    @media(max-width: 767px) {
      gap: 0 12px;
    }
  }

  .js-form-item {
    @include media-query('mobile') {
      width: 100%;
    }
  }

  .form-control {
    min-height: 38px;
    height: auto;
    max-height: 38px;
    padding-top: 0;
    padding-bottom: 0;
    line-height: normal;
    border-radius: 6px;
    border-color: #dee2e6;
    font-size: 16px;
    padding-top: 2px !important;
    padding-bottom: 0 !important;
  }

  .js-form-type-textfield {
    display: flex;
    flex-wrap: wrap;
    // flex-direction: column-reverse;
    align-items: flex-start;


    input {
      min-height: 38px;
      height: auto;
      max-height: 38px;
      padding-top: 0;
      padding-bottom: 0;
      line-height: normal;
      border-radius: 6px;
      border-color: #dee2e6;
      padding-top: 2px !important;
      padding-bottom: 0 !important;
    }

    label {
      padding-top: 0;
      padding-bottom: 0;
      height: auto;
      // margin-bottom: 0;
      background: none;
      padding: 0;
      transform: none !important;
      position: static;

      &:after {
        display: none;
      }
    }
  }

  .btn.btn-primary {
    color: #fff;
    font-weight: 400;
    border: 1px solid #011f5b;
    font-size: 16px;
    padding: 6px 20px;
    border-radius: 4px;
    background: #011f5b;

    &:hover {
      color: #011f5b;
      background: #fff;
    }

    &:before {
      display: none;
    }
  }
}
}