.cta-boxes {
  border-top: 1px solid $primaryColor;
  @include media-query('tablet') {
    padding-bottom: 52px;
  }

  &.align-left {
    .cta-box {
      text-align: left;
    }
  }

  &.align-right {
    .cta-box {
      text-align: right;
    }
  }
  @include media-query('mobile') {
    .col-lg-4{
      &:last-child{
        .cta-box{
          margin-bottom: 0;
        }
      }
    }
  }
}


.cta-box {
  text-align: center;
  position: relative;
  padding-top: 60px;
  margin-top: 50px;

  @include media-query('tablet') {
    margin-bottom: 40px;
    margin: 0px;
  }
  &:before {
    content: "";
    position: absolute;
    left: 50%;
    top: 0%;
    transform: translate(-50%,-27%) scale(0.5);
    background-color: $yellowHighlightColor;
    width: 265px;
    height: 265px;
    transition: all ease-in-out 0.3s;
    border-radius: 50%;
    @include media-query('tablet') {
      height: 80px;
      width: 80px;
      transform: translate(-50%, 21%) scale(1);
    }
  }
  h3 {
    position: relative;
    z-index: 1;
    @include media-query('tablet') {
      margin-bottom: 0;
    }
  }

  p {
    position: relative;
    z-index: 1;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 22px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    @include media-query('tablet') {
      font-size: 18px;
    }
  }

  &:hover {
    &:before {
      transform: translate(-50%,-30%) scale(1);
      transition: all ease-in-out 0.3s;
      @include media-query('tablet') {
        transform: translate(-50%, 21%) scale(1.5);
      }
    }
    // .btn.btn-primary{
    //   &:after {
    //     content: "";
    //     display: inline-block;
    //     height: 25px;
    //     width: 25px;
    //     background: url(../../assets/images/arrow.svg) no-repeat;
    //     transform: rotate(-45deg);
    //     margin: 0px 0 0 5px;
    //     position: relative;
    //     top: 5px;
    //   }
    // }
  }
}
