// .form-control {
//   border: 1px solid $primaryColor;
//   height: 50px;
//   border-radius: 10px;
//   padding: 0 20px;
//   font-size: 18px;
//   color: #4E638C;
//   font-family: $teritoryFont;
//   @include media-query ('mobile') {
//     font-size: 16px;
//   }
//   &::placeholder {
//     color: #4E638C;
//     opacity: 1;
//   }
//   &:focus {
//     box-shadow: none;
//     border: 1px solid $primaryColor;
//     outline: none;
//   }
// }

// textarea.form-control {
//   min-height: 200px;
//   resize: none;
//   padding: 20px;
// }

// .select-outer {
//   position: relative;
//   &:before {
//     content: "";
//     position: absolute;
//     right: 1px;
//     top: 6px;
//     height: 48px;
//     width: 30px;
//     background-color: #fff;
//     pointer-events: none;
//     border-radius: 10px;

//   }
//   &:after {
//     pointer-events: none;
//     content: "";
//     position: absolute;
//     right: 15px;
//     top: 22px;
//     height: 11px;
//     width: 11px;
//     background-color: #fff;  
//     transform: rotate(-45deg);
//     border-left: 2px solid $primaryColor;
//     border-bottom: 2px solid $primaryColor; 
//   }
//   select {
//     font-family: $teritoryFont;
//     border-radius: 10px;
//     width: 100%;
//     height: 50px;
//     border: 1px solid $primaryColor;
//     background: #fff;
//     padding: 0 15px;
//     margin: 5px 0 10px 0;
//     color: $primaryColor;
//     font-size: 18px;
//     appearance: none;
//     -webkit-appearance: none;
//     -moz-appearance: none;
//     padding-top: 5px;
//     &:focus-visible{
//       outline: none;
//     }
//   }
// }


// label {
//   font-size: 12px;
//   font-weight: 600;
//   text-transform: uppercase;
//   font-family: $teritoryFont;
//   margin-bottom: 5px;
// }

// .form-item {
//   margin-bottom: 30px;
// }


// .reservation-form {
//   .row {
//     margin: 0 -9px;
//   }
//   .col-12 {
//     padding: 0 9px;
//   }
//   h4 {
//     margin-bottom: 30px;
//     img {
//       width: 20px;
//     }
//   }
// }

// .select-item {
//   position: relative;
//   select {
//     font-weight: 600;
//     color: $primaryColor;
//   }
//   &:after {
//     content: "";
//     position: absolute;
//     right: 20px;
//     top: 48px;
//     height: 13px;
//     width: 13px;
//     border-left: 2px solid #000;
//     border-top: 2px solid #000;
//     transform: rotate(225deg);
//     pointer-events: none;
//     @include media-query ('ipad') {
//       top: 42px;
//     }
//     @include media-query ('mobile') {
//       top: 44px;
//       height: 11px;
//       width: 11px;
//     }
//   }
// }


// .repeat-reservation {
//   background: #EBF2FF;
//   border-radius: 10px;
//   display: flex;
//   width: calc(100% - 24px);
//   margin-left: 12px; 
//   padding: 20px 12px 30px 12px;
//   margin-bottom: 30px;
//   flex-wrap: wrap;
//   @include media-query ('ipad') {
//     gap: 20px;
//     padding: 20px 15px 10px 15px;
//   }
//   .form-item {
//     margin-bottom: 0px;
//   }
// }


// .policy {
//   label {
//     text-transform: none;
//     font-size: 18px;
//     font-weight: 400;
//     a {
//       font-weight: 600;
//       text-decoration: underline;
//     }
//   }
// }

// .form-item.checkbox {
//   padding-left: 0;
//   input {
//     display: none;
//   }
//   label {
//     position: relative;
//     padding-left: 35px;
//     font-size: 18px;
//     font-weight: 400;
//     text-transform: none;
//     @include media-query ('ipad') {
//       padding-left: 30px;
//     }
//     &:before {
//       content:"";
//       position: absolute;
//       left: 0;
//       top: 0;
//       width: 20px;
//       height: 20px;
//       border: 1px solid $primaryColor;
//       @include media-query ('ipad') {
//         top: -2px;
//       }
//     }
//   }

//   input:checked + label {
//     &:before {
//       background-color: $primaryColor;
//     }

//     &:after {
//       content: "";
//       position: absolute;
//       height: 8px;
//       width: 13px;
//       border-left: 2px solid #fff;
//       border-bottom: 2px solid #fff;
//       left: 4px;
//       top: 3px;
//       transform: rotate(-45deg);  
//       @include media-query ('ipad') {
//         top: 2
//       }
//     }
//   }
// }

// .error-fields {
//   background: #FEACB2;
//   padding: 13px 20px;
//   border-radius: 10px;
//   margin-top: 32px;
//   p {
//     margin: 0;
//     font-size: 18px;
//     font-family: $teritoryFont;
//     line-height: 25px;
//     &:before {
//       content: "";   
//       height: 25px;
//       width: 25px;
//       background: url(../../assets/images/info-icon.jpg) no-repeat;
//       background-size: contain;
//       float: left;
//       margin-right: 5px;
//     }
//   }
// }

// .label-bottom {
//   display: flex;
//   flex-wrap: wrap;
//   flex-direction: column-reverse;
//   label {
//     text-transform: none;
//     margin: 15px 0 0 0;
//   }

//   &.select-item:after {
//     content: "";
//     position: absolute;
//     right: 20px;
//     top: 15px;

//   }
// }

// .alert {
//   background: #FFEB40;
//   font-size: 18px;
//   padding: 13px 20px;
//   border-radius: 10px;
//   margin-bottom: 60px;
//   font-size: 18px;
//   font-family: $teritoryFont;
//   font-weight: 600;
//   .btn-close{
//     padding: 1rem 1rem;
//   }
// }

// .form-item {
//   .input-group:not(.has-validation)>:not(:last-child):not(.dropdown-toggle):not(.dropdown-menu) {
//     border-radius: 10px;
//   }
// }
// .gj-datepicker {

//   button {
//     position: absolute;
//     right: 0;
//     top: 0;
//     height: 50px;
//     opacity: 0;
//     i {
//       display: none;
//     }

//   }
// }

// .content-moderation-entity-moderation-form {
// 	.entity-moderation-form {
// 		border: 0;
// 		display: block;
//     margin-top: 0;
//     padding-left: 0;
// 		.entity-moderation-form__item {
// 			display: block;
// 			.form-item-current {
// 				display: flex;
// 				flex-direction: column;
// 				label {
// 					padding-left: 0;
// 					margin-bottom: 0;
// 					padding-bottom: 0;
// 					position: relative;
//           font-size: 18px;
// 				}
// 			}
// 			.form-submit {
// 				background: #011f5b;
// 				font-size: 20px;
// 				font-weight: 700;
// 				color: #fff;
// 				border-radius: 10px;
// 				padding: 18px 20px 16px 20px;
// 				font-family: tablet-gothic;
// 				text-decoration: none;
// 				border: 1px solid #011f5b;
// 				&:hover {
// 					background: #fff;
// 					color: #011f5b;
// 				}
//         &::before {
//           display: none;
//         }
// 			}
// 		}
// 		.form-item-new-state {
// 			select {
// 				border-color: #011F5B;
// 				font-weight: 5;
// 				font-family: tablet-gothic;
// 				color: #011F5B;
// 				font-size: 18px;
// 				padding: 11px 35px 10px 20px;
// 			}
// 		}
// 		.form-item-revision-log {
// 			input {
// 				padding-bottom: 50px;
// 				padding-top: 45px;
// 			}
// 		}
// 	}
// }
// .node-notices-form {
//   .tabledrag-toggle-weight-wrapper {
//     display: none;
//   }
// }
// .js-form-item-field-event-schedule-0-time-wrapper-value-date {
//   margin-right: 5px;
// }
// .node-chas-event-edit-form, 
// .node-notices-edit-form, 
// .node-chas-event-form, 
// .node-reserve-room-form, 
// .node-room-form, 
// .node-notices-form,
// .node-article-form,
// .comment-comment-form{ 
//   margin-bottom: 30px;
//   .row:has(.col-md-8) {
//     margin-top: 30px;
//   }
// 	* {
// 		font-family: tablet-gothic;
// 	}

// 	table {
//     color: $primaryColor;
// 		&.field-multiple-table {  
// 			tbody {
// 				tr {

// 					td {
// 						.tabledrag-handle {
// 							display: flex;
// 							.handle {
// 								margin-top: 0;
// 								margin-left: 25px;
// 							}
// 						}
// 						.form-type-email {
//               margin-top: 16px;
//               margin-right: 10px;
//               @include media-query ('small'){
//               margin-right: 10px;

//               }
// 							input {
// 								// padding-top: 11px;
// 								min-height: 50px;
// 								height: 50px;
//                 @include media-query ('small'){
//                   margin-top: 14px;

//                 }
// 							}
// 						}
// 						.form-submit {
// 							background: #011f5b;
// 							font-size: 18px;
// 							font-weight: 700;
// 							color: #fff;
// 							border-radius: 10px;
// 							padding: 13px 20px 11px 20px;
//               // padding: 13px 20px 13px 20px;
// 							font-family: tablet-gothic;
// 							text-decoration: none;
// 							border: 1px solid #011f5b;
//               @supports (-moz-appearance: none){
//                 padding: 13px 20px 13px 20px;
//               }
// 							&::before {
// 								display: none;
// 							}
// 							&:hover {
// 								background: #fff;
// 								color: #011f5b;
// 							}
// 						}
//             .smartdate--widget {
//               padding-top: 15px;
//               padding-bottom: 15px;
//               color: $primaryColor;
//               label{
//                 text-align: left;
//               }
//               .form-type-select {
//                 label {
//                   min-width: auto;
//                 }
//               }
//               .smartdate--time-inline{ 
//                 .time-start {
//                   flex-wrap: nowrap;
//                   gap: 10px;
//                   align-content: center;
//                   justify-content: flex-start;
//                     .js-form-item {
//                       @include media-query('mobile'){
//                         width: 100%;
//                       }
//                       label{
//                         display: block !important;
//                         position: relative !important;
//                         overflow: visible !important;
//                         width: auto !important;
//                         height: auto !important;
//                         padding-left: 1px !important;
//                       }

//                       @include media-query ('small'){
//                       width: 100%;
//                     }
//                   }
//                   .js-form-item-field-event-schedule-0-time-wrapper-value-date{
//                     margin-right: 0;
//                   }
//                 }
//                 label {
//                   display: none;
//                 }
//               }
//               .time-end {
//                 flex-wrap: nowrap;
//                 gap: 10px;
//                 align-content: center;
//                 flex-direction: row;
//                 justify-content: flex-start;

//                   .js-form-item {
//                     position: relative;
//                     @include media-query('mobile'){
//                       width: 100%;

//                     }
//                     label{
//                       display: block !important;
//                       position: relative !important;
//                       overflow: visible !important;
//                       width: auto !important;
//                       height: auto !important;
//                       // padding-left: 8px !important;
//                     }
//                     @include media-query ('small'){
//                     width: 100%;
//                     // margin-bottom: 0;
//                     // margin-top: 1rem;
//                   }
//                 }
//               }
//               .smart-date--duration-list{
//                 width: 100%;
//                 border-color: $primaryColor;
//                 border-bottom-left-radius: 10px;
//                 border-bottom-right-radius: 10px;
//                 li{
//                   color: $primaryColor;
//                   padding-left: 14px;
//                   padding-right: 14px;
//                 }
//               }
//               details{
//                 border: none;
//                 .details-wrapper{
//                   padding: 0.5em 0;
//                 }
//               }
//               .js-form-type-checkbox{
//                 input{
//                   display: block;
//                 }
//               }
//               .form-type-number+.form-type-date{
//                 vertical-align: bottom;
//               }
//               .repeat-end-date{
//                 align-content: center;
//               }
//             }
//             .duration-wrapper {
//               display: inline-flex;
//               @include media-query ('small'){
//                 flex-direction: column;
//                 width: 100%;
//                 label{
//                   text-align: left;
//                 }
//               }
//             }
//             .repeat--label{
//               @include media-query ('small'){
//               width: 100%;
//               }
//             }
//             .form-select{
//               border: 1px solid $primaryColor;
//               height: 50px;
//               border-radius: 10px;
//               padding: 0 30px 0 20px;
//               font-size: 18px;
//               color: #4E638C;
//               font-family: $teritoryFont;
//               @include media-query ('mobile') {
//                 font-size: 16px;
//               }
//               &::placeholder {
//                 color: #4E638C;
//                 opacity: 1;
//               }
//               &:focus {
//                 box-shadow: none;
//                 border: 1px solid $primaryColor;
//                 outline: none;
//               }
//             }
//             .js-form-item-field-event-schedule-0-interval,
//             .js-form-item-field-event-schedule-0-repeat-end{
//               label{
//                 display: none;
//               }
//             }
//             .js-form-item-field-event-schedule-0-interval{
//               .field-interval{
//                 padding: 10px;
//                 width: 5.5rem;
//               }
//             }
//             .input-group-append{
//               .field-suffix{
//                 padding-top: 0;
//               }
//             }
//             .input-group{
//               align-items: center;
//             }
// 					}
// 				}
// 			}
// 		}
// 	}
// 	.tabledrag-toggle-weight-wrapper {
// 		.tabledrag-toggle-weight {
// 			background: #011f5b;
// 			font-size: 18px;
// 			font-weight: 700;
// 			color: #fff;
// 			border-radius: 10px;
// 			padding: 13px 20px 11px 20px;
// 			font-family: tablet-gothic;
// 			text-decoration: none;
// 			border: 1px solid #011f5b;
// 			transition: all 0.3s;
//       display: none;
// 			&:hover {
// 				background: #fff;
// 				color: #011f5b;
// 			}
// 		}
// 	}
//   .fieldgroup{ 
//     .fieldset-legend {
//       margin-bottom: 10px;
//       display: block;
//     }
//   }
//   .image-widget-data {
//     width: 100%;
//   }
//   .form-type-managed-file{ 
//     .form-managed-file{ 
//       input {
//         display: flex;
//         align-content: center;
//       }
//     }
//   }
//   .form-actions{ 
//     #edit-submit {
//       background: #011f5b;
//       font-size: 20px;
//       font-weight: 700;
//       color: #fff;
//       border-radius: 10px;
//       // padding: 18px 20px 16px 20px;
//       padding: 16px 20px 20px 20px;
//       font-family: tablet-gothic;
//       text-decoration: none;
//       border: 1px solid #011f5b;
//       transition: all 0.3s;
//       @supports (-moz-appearance: none){
//         padding: 18px 20px 16px 20px;
//       }
//       &:before{
//         display: none;
//       }
//       &:hover{
//         background-color: transparent;
//         color: #011f5b;
//       }
//     }
//     .button--danger {
//       background: transparent;
//       font-size: 20px;
//       font-weight: 700;
//       color: #fd4453;
//       border-radius: 10px;
//       padding: 19px 20px 19px 20px;
//       font-family: tablet-gothic;
//       text-decoration: none;
//       border: 1px solid #fd4453;
//       transition: all 0.3s;
//       &:hover{
//         background-color: #fd4453;
//         color: #fff;
//       }      
//     }
//     .btn-primary {
//       background: transparent;
//       font-size: 20px;
//       font-weight: 700;
//       color: #011f5b;
//       border-radius: 10px;
//       padding: 18px 20px 16px 20px;
//       font-family: tablet-gothic;
//       text-decoration: none;
//       border: 1px solid #011f5b;
//       transition: all 0.3s;
//       &:before{
//         display: none;
//       }
//       &:hover{
//         background-color: #011f5b;
//         color: #fff;
//       }
//     }
//   }
// }

// .node-program-community-edit-form {
//   margin-top: 30px;
//   margin-bottom: 30px;
// 	.form-submit {
// 		background: #011f5b;
// 		font-size: 20px;
// 		font-weight: 700;
// 		color: #fff;
// 		border-radius: 10px;
// 		padding: 18px 20px 16px 20px;
// 		font-family: tablet-gothic;
// 		text-decoration: none;
// 		border: 1px solid #011f5b;		
// 		&:hover {
// 			background: transparent;
// 			color: #011f5b;
// 		}
// 		&::before {
// 			opacity: 0;
// 		}
// 	}

// }
// .file--mime-image-png, .file--mime-image-jpeg  {
//   padding-left: 0;
//   padding-right: 10px;
// }
// .user-login-form { 
//   padding-top: 30px;
//   padding-bottom: 30px;
//   .form-submit{
//     background: #011f5b;
//     font-size: 20px;
//     font-weight: 700;
//     color: #fff;
//     border-radius: 10px;
//     padding: 18px 20px 16px 20px;
//     font-family: tablet-gothic;
//     text-decoration: none;
//     border: 1px solid #011f5b;
//     transition: all 0.3s;
//     &:before{
//       display: none;
//     }
//     &:hover {
//       background: transparent;
//       color: #011f5b;
//     }
//   }  
// }
// .block-field-blocknodearticlefield-chas-news {
//   padding-bottom: 30px;
// }

// .view-id-event_moderation_view {
//   padding-top: 20px;
//   .node--unpublished {
//     padding: 20px 0 0 0;
//   }

// }
// .node--view-mode-moderator .field--label-inline {
//   border: 1px solid #ccc;
//   margin-bottom: 15px;
//   padding: 10px 10px;
//   max-width: 1235px;
// }

// .node--view-mode-moderator .field--label-inline .field__item {

// }
// .node--view-mode-moderator .field--label-inline .field__label {
//   margin-right: 10px;
//   font-weight: 700;
// }


// .node-reserve-room-form {
//   .field--name-field-room {
//     .js-form-type-select {
//       label {
//         font-size: 36px;
//         font-weight: 900;
//         text-transform: none;
//         margin-bottom: 20px;
//         @include media-query('mobile'){
//           font-size: 30px;
//           line-height: 30px;
//         }
//       }
//       select {
//         height: 50px;
//         color: #4E638C;
//         border-color: #011F5B;
//       }
//     }
//   }
// }

// .form-required {
//   position: relative; // Ensure proper positioning if needed

//   &::after {
//     content: "";
//     display: inline-block;
//     background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"><path fill="%23EE0000" d="M0,7.562l1.114-3.438c2.565,0.906,4.43,1.688,5.59,2.35C6.398,3.553,6.237,1.544,6.22,0.447h3.511 c-0.05,1.597-0.234,3.6-0.558,6.003c1.664-0.838,3.566-1.613,5.714-2.325L16,7.562c-2.05,0.678-4.06,1.131-6.028,1.356 c0.984,0.856,2.372,2.381,4.166,4.575l-2.906,2.059c-0.935-1.274-2.041-3.009-3.316-5.206c-1.194,2.275-2.244,4.013-3.147,5.206 l-2.856-2.059c1.872-2.307,3.211-3.832,4.017-4.575C3.849,8.516,1.872,8.062,0,7.562"/></svg>') no-repeat center center;
//     background-size: contain;
//     margin-left: 2px; // Adjust spacing if needed
//     inset: unset !important;
//   }
// }

// .view-webform-export {
//   .form-floating{
//     padding-top: 25px;
//      >label{
//       padding: 0;
//       word-break: break-word;
//     box-sizing: border-box;
//     width: 100%;
//      }
//   }
// }

// .node-form #edit-field-event-schedule-wrapper button#edit-field-event-schedule-add-more {
//   display: none;
// }
// .node-form td.field-multiple-drag {
//   display: none;
// }

// .node-form {
//   td{
//     &:empty{
//       display: none;
//     }
//     background-color: transparent;
//     box-shadow: none;
//     padding-left: 0;
//     padding-right: 0;
//   &.has-multiple-fields-remove-button{
//     padding: 0 !important;
//   }   

//   }
// }
// .node-chas-event-form {
//   .block,
//   .field--widget-term-reference-tree {
//     ul {
//       .js-form-item {
//         margin-bottom: 12px !important;
//       }
//       ul {
//         margin-left: 14px;
//         .no-term-reference-tree-button {
//           display: none;
//         }
//       }
//     }
//   }
// }

// .view-webform-export {
//   &.view-display-id-page_1{
//   .views-form {
//     [data-drupal-selector="edit-webform-submission-bulk-form"] {
//       .form-actions {
//         .form-submit{
//           display: none;
//         }
//       }
//     }
//   }
// }
// }
// .js-form-item  {
//   small.description{
//   font-size: 14px;
//   color: #011f5c !important;
//   }
// }

// // .form-select{
// // border: 1px solid $primaryColor;
// // height: 50px;
// // border-radius: 10px;
// // padding: 0 30px 0 20px;
// // font-size: 18px;
// // color: #4E638C;
// // font-family: $teritoryFont;
// // @include media-query ('mobile') {
// //   font-size: 16px;
// // }
// // &::placeholder {
// //   color: #4E638C;
// //   opacity: 1;
// // }
// // &:focus {
// //   box-shadow: none;
// //   border: 1px solid $primaryColor;
// //   outline: none;
// // }
// // }


// .info-fields {
//   background: #EBF2FF;
//   padding: 13px 20px;
//   border-radius: 10px;
//   margin-bottom: 32px;
//   p {
//     margin: 0;
//     font-size: 18px;
//     font-family: $teritoryFont;
//     line-height: 25px;
//     &:before {
//       content: "";   
//       height: 25px;
//       width: 25px;
//       background: url(../../assets/images/info-icon.svg) no-repeat;
//       background-size: contain;
//       float: left;
//       margin-right: 5px;
//     }
//     a{
//       text-decoration-color:$primaryColor;
//     }
//   }
// }
// body.path-group{
//   .group-house1-edit-form{
//     [data-drupal-selector="edit-actions"]{
//       display: flex;
//       align-items: center;
//       gap: 15px;
//       flex-wrap: wrap;
//       [data-drupal-selector="edit-submit"]{
//         border: 1px solid $primaryColor;
//         border-radius: 10px;
//         padding: 17px 20px;
//         text-align: center;
//         &::before{
//           display: none;
//         }
//         &:hover{
//           background: #ffea3f;
//         color: #011f5b;
//         border-color: #ffea3f;
//         }
//       }  
//       [data-drupal-selector="edit-delete"]{
//         border: 1px solid $primaryColor;
//         border-radius: 10px;
//         padding: 17px 20px;
//         margin-right: 30px;
//         text-align: center;
//         background-color: $primaryColor;
//         color: #fff;
//         text-decoration: none;
//         &:hover{
//           background: #ffea3f;
//         color: #011f5b;
//         border-color: #ffea3f;
//         }
//       }
//     }
//   }
// }
// .view-id-webform_export{
//   padding: 40px 0;

//   .views-exposed-form{
//     .js-form-type-select{
//       width: 100%;
//     }
//   }
//   [data-drupal-selector="edit-submit"]{
//     font-size: 18px;
//       background: #011f5b;
//       border-radius: 10px;
//       color: #fff;
//       border: 1px solid #011f5b;
//       font-weight: 400;
//       padding: 0 20px;
//       height: 50px;
//       line-height: normal;
//       &:hover{
//         background-color: #fff;
//       color: #011f5b;
//       }
//       &::before{
//         display:none;
//       }
//   }
// }

// table{
//   td{
//     &:has(.smartdate--widget){
//       @media (max-width:767px) {
//         padding-left: 0;
//         padding-right: 0;
//       }
//     }
//   }
// }
// .event-evalution-form{
// .input-group{
//   .input-group-prepend {
//     span{
//       color: $primaryColor;
//       font-weight: 600;
//       left:0 !important;
//       font-family: tablet-gothic;
//       z-index: 6;
//       height: 100%;
//     }
// }
// input{
//   padding-left: 25px;
// }
// }
// }
// .mac_os{
//   .calender-page {
//     .calender-right {
//       .pager__items {
//         .pager__current {
//           .js-form-item {
//             padding:12px 15px 12px 15px;
//           }
//         }
//       }
//     }
//   }
// }

.form-control {
  border: 1px solid $primaryColor;
  height: 50px;
  border-radius: 10px;
  padding: 0 20px;
  font-size: 18px;
  color: #4e638c;
  font-family: $teritoryFont;

  @include media-query("mobile") {
    font-size: 16px;
  }

  &::placeholder {
    color: #4e638c;
    opacity: 1;
  }

  &:focus {
    box-shadow: none;
    border: 1px solid $primaryColor;
    outline: none;
  }
}

@supports (font: -apple-system-body) {

  input[type="date"]::-webkit-datetime-edit,
  input[type="time"]::-webkit-datetime-edit {
    font-family: $arialFont;
    padding-top: 10px;
  }
}

textarea.form-control {
  min-height: 200px;
  resize: none;
  padding: 20px;
}

.select-outer {
  position: relative;

  &:before {
    content: "";
    position: absolute;
    right: 1px;
    top: 6px;
    height: 48px;
    width: 30px;
    // background-color: #fff;
    pointer-events: none;
    border-radius: 10px;
  }

  &:after {
    pointer-events: none;
    content: "";
    position: absolute;
    right: 15px;
    top: 22px;
    height: 11px;
    width: 11px;
    background-color: #fff;
    transform: rotate(-45deg);
    border-left: 2px solid $primaryColor;
    border-bottom: 2px solid $primaryColor;
  }

  select {
    font-family: $teritoryFont;
    border-radius: 10px;
    width: 100%;
    height: 50px;
    border: 1px solid $primaryColor;
    background: #fff;
    padding: 0 15px;
    margin: 5px 0 10px 0;
    color: $primaryColor;
    font-size: 18px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    &:focus-visible {
      outline: none;
    }
  }
}

label {
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: $teritoryFont;
  margin-bottom: 5px;
}

.form-item {
  margin-bottom: 30px;
}

.reservation-form {
  .row {
    margin: 0 -9px;
  }

  .col-12 {
    padding: 0 9px;
  }

  h4 {
    margin-bottom: 30px;

    img {
      width: 20px;
    }
  }
}

.select-item {
  position: relative;

  select {
    font-weight: 600;
    color: $primaryColor;
  }

  &:after {
    content: "";
    position: absolute;
    right: 20px;
    top: 48px;
    height: 13px;
    width: 13px;
    border-left: 2px solid #000;
    border-top: 2px solid #000;
    transform: rotate(225deg);
    pointer-events: none;

    @include media-query("ipad") {
      top: 42px;
    }

    @include media-query("mobile") {
      top: 44px;
      height: 11px;
      width: 11px;
    }
  }
}

.repeat-reservation {
  background: #ebf2ff;
  border-radius: 10px;
  display: flex;
  width: calc(100% - 24px);
  margin-left: 12px;
  padding: 20px 12px 30px 12px;
  margin-bottom: 30px;
  flex-wrap: wrap;

  @include media-query("ipad") {
    gap: 20px;
    padding: 20px 15px 10px 15px;
  }

  .form-item {
    margin-bottom: 0px;
  }
}

.policy {
  label {
    text-transform: none;
    font-size: 18px;
    font-weight: 400;

    a {
      font-weight: 600;
      text-decoration: underline;
    }
  }
}

.form-item.checkbox {
  padding-left: 0;

  input {
    display: none;
  }

  label {
    position: relative;
    padding-left: 35px;
    font-size: 18px;
    font-weight: 400;
    text-transform: none;

    @include media-query("ipad") {
      padding-left: 30px;
    }

    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 20px;
      height: 20px;
      border: 1px solid $primaryColor;

      @include media-query("ipad") {
        top: -2px;
      }
    }
  }

  input:checked+label {
    &:before {
      background-color: $primaryColor;
    }

    &:after {
      content: "";
      position: absolute;
      height: 8px;
      width: 13px;
      border-left: 2px solid #fff;
      border-bottom: 2px solid #fff;
      left: 4px;
      top: 3px;
      transform: rotate(-45deg);

      @include media-query("ipad") {
        top: 2;
      }
    }
  }
}

.error-fields {
  background: #feacb2;
  padding: 13px 20px;
  border-radius: 10px;
  margin-top: 32px;

  p {
    margin: 0;
    font-size: 18px;
    font-family: $teritoryFont;
    line-height: 25px;

    &:before {
      content: "";
      height: 25px;
      width: 25px;
      background: url(../../assets/images/info-icon.jpg) no-repeat;
      background-size: contain;
      float: left;
      margin-right: 5px;
    }
  }
}

.label-bottom {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column-reverse;

  label {
    text-transform: none;
    margin: 15px 0 0 0;
  }

  &.select-item:after {
    content: "";
    position: absolute;
    right: 20px;
    top: 15px;
  }
}

.alert {
  background: #ffeb40;
  padding: 13px 20px;
  border-radius: 10px;
  margin-bottom: 40px;
  font-size: 18px;
  font-family: $teritoryFont;
  font-weight: 600;
  z-index: 3;

  .btn-close {
    padding: 1rem 1rem;
  }
}

.form-item {
  .input-group:not(.has-validation)> :not(:last-child):not(.dropdown-toggle):not(.dropdown-menu) {
    border-radius: 10px;
  }
}

.gj-datepicker {
  button {
    position: absolute;
    right: 0;
    top: 0;
    height: 50px;
    opacity: 0;

    i {
      display: none;
    }
  }
}

.content-moderation-entity-moderation-form {
  .entity-moderation-form {
    border: 0;
    display: block;
    margin-top: 0;
    padding-left: 0;

    .entity-moderation-form__item {
      display: block;

      .form-item-current {
        display: flex;
        flex-direction: column;

        label {
          padding-left: 0;
          margin-bottom: 0;
          padding-bottom: 0;
          position: relative;
          font-size: 18px;
        }
      }

      .form-submit {
        background: #011f5b;
        font-size: 20px;
        font-weight: 700;
        color: #fff;
        border-radius: 10px;
        padding: 18px 20px 16px 20px;
        font-family: tablet-gothic;
        text-decoration: none;
        border: 1px solid #011f5b;

        &:hover {
          background: #fff;
          color: #011f5b;
        }

        &::before {
          display: none;
        }
      }
    }

    .form-item-new-state {
      select {
        border-color: #011f5b;
        font-weight: 5;
        font-family: tablet-gothic;
        color: #011f5b;
        font-size: 18px;
        padding: 11px 35px 10px 20px;
        // option[value="published"] {
        //   background: #75E588;
        // }
        // option[value="pending"] {
        //   background: #FFEB40;
        // }
        // option[value="denied"] {
        //   background: #F8919D;
        // }
      }
    }

    .form-item-revision-log {
      // input {
      //   padding-bottom: 50px;
      //   padding-top: 45px;
      // }
    }
  }
}

.node-notices-form {
  .tabledrag-toggle-weight-wrapper {
    display: none;
  }
}

// .js-form-item-field-event-schedule-0-time-wrapper-value-date {
//   margin-right: 5px;
// }


.smartdate--time-inline div.time-start,
.smartdate--time-inline div.time-end {
  gap: 5px;
}

.smartdate--widget .repeat--label {
  margin-right: 0;
}

.node-chas-event-edit-form,
.node-notices-edit-form,
.node-chas-event-form,
.node-reserve-room-form,
.node-room-form,
.node-notices-form,
.node-article-form,
.comment-comment-form,
.node-reserve-room-edit-form,
.node-page-form  {
  margin-bottom: 30px;

  .row:has(.col-md-8) {
    margin-top: 30px;
  }

  * {
    font-family: tablet-gothic;
  }

  table {
    color: $primaryColor;
    &#field-event-schedule-values{
      th{
        &.tabledrag-hide{
          display: none;
        }
      }
      .delta-order{
        &.tabledrag-hide{
          display: none;
        }
      }
    }
    &#field-collaborators-values{
      .field-multiple-drag{
        display: none;
      }
    }


    &.field-multiple-table {
      tbody {
        tr {
          td {
            .tabledrag-handle {
              display: flex;

              .handle {
                margin-top: 0;
                margin-left: 25px;
              }
            }

            &.delta-order {
              .form-type-select {
                margin-bottom: 0 !important;
                margin-left: 6px !important;
                min-width: 65px;
              }
            }

            &.field-multiple-drag{
              display: none;
            }

            .form-type-email {
              margin-top: 16px;
              margin-right: 10px;

              @include media-query("small") {
                margin-right: 10px;
              }

              input {
                // padding-top: 11px;
                min-height: 50px;
                height: 50px;

                @include media-query("small") {
                  margin-top: 14px;
                }
              }
            }

            .form-submit {
              background: #011f5b;
              font-size: 18px;
              font-weight: 700;
              color: #fff;
              border-radius: 10px;
              padding: 13px 20px 11px 20px;
              // padding: 13px 20px 13px 20px;
              font-family: tablet-gothic;
              text-decoration: none;
              border: 1px solid #011f5b;

              @supports (-moz-appearance: none) {
                padding: 13px 20px 13px 20px;
              }

              &::before {
                display: none;
              }

              &:hover {
                background: #fff;
                color: #011f5b;
              }
            }

            .smartdate--widget {
              padding-top: 15px;
              padding-bottom: 15px;
              color: $primaryColor;

              label {
                text-align: left;
                align-content: center;
              }

              .form-type-select {
                label {
                  min-width: auto;
                  margin-right: 5px;
                }
              }

              .smartdate--time-inline {
                .time-start {
                  flex-wrap: nowrap;
                  gap: 10px;
                  align-content: center;
                  justify-content: flex-start;
                  padding-top: 2px;
                  position: relative;
                  top:0;
                  .js-form-item {
                    @include media-query("mobile") {
                      width: 100%;
                    }

                    label {
                      display: block !important;
                      position: relative !important;
                      overflow: visible !important;
                      width: auto !important;
                      height: auto !important;
                      padding-left: 1px !important;
                    }

                    @include media-query("small") {
                      width: 100%;
                    }
                  }

                  .js-form-item-field-event-schedule-0-time-wrapper-value-date {
                    margin-right: 0;
                  }
                }

                label {
                  display: none;
                }
              }

              .time-end {
                flex-wrap: nowrap;
                gap: 10px;
                align-content: center;
                flex-direction: row;
                justify-content: flex-start;
                padding-top: 2px;
                position: relative;
                  top:0;

                .js-form-item {
                  position: relative;

                  @include media-query("mobile") {
                    width: 100%;
                  }

                  label {
                    display: block !important;
                    position: relative !important;
                    overflow: visible !important;
                    width: auto !important;
                    height: auto !important;
                    // padding-left: 8px !important;
                  }

                  @include media-query("small") {
                    width: 100%;
                    // margin-bottom: 0;
                    // margin-top: 1rem;
                  }
                }
              }

              .smart-date--duration-list {
                width: 100%;
                border-color: $primaryColor;
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;

                li {
                  color: $primaryColor;
                  padding-left: 14px;
                  padding-right: 14px;
                }
              }

              details {
                border: none;

                .details-wrapper {
                  padding: 0.5em 0;
                }
              }

              .js-form-type-checkbox {
                input {
                  display: block;
                }
              }

              .form-type-number+.form-type-date {
                vertical-align: bottom;
              }

              .repeat-end-date {
                align-content: center;
              }
            }

            .duration-wrapper {
              display: inline-flex;

              @include media-query("small") {
                flex-direction: column;
                width: 100%;

                label {
                  text-align: left;
                }
              }
            }

            .repeat--label {
              @include media-query("small") {
                width: 100%;
              }
            }

            .form-select {
              border: 1px solid $primaryColor;
              height: 50px;
              border-radius: 10px;
              padding: 0 30px 0 20px;
              font-size: 18px;
              color: #4e638c;
              font-family: $teritoryFont;

              @include media-query("mobile") {
                font-size: 16px;
              }

              &::placeholder {
                color: #4e638c;
                opacity: 1;
              }

              &:focus {
                box-shadow: none;
                border: 1px solid $primaryColor;
                outline: none;
              }
            }

            .js-form-item-field-event-schedule-0-interval,
            .js-form-item-field-event-schedule-0-repeat-end {
              display: inline-flex;
              align-items: baseline;
            }

            .js-form-item-field-event-schedule-0-interval {
              .field-interval {
                padding: 10px;
                width: 5.5rem;
              }
            }

            .input-group-append {
              .field-suffix {
                padding-top: 0;
              }
            }

            .input-group {
              align-items: center;
            }
          }
        }
      }
    }
  }

  .tabledrag-toggle-weight-wrapper {
    .tabledrag-toggle-weight {
      background: #011f5b;
      font-size: 18px;
      font-weight: 700;
      color: #fff;
      border-radius: 10px;
      padding: 13px 20px 11px 20px;
      font-family: tablet-gothic;
      text-decoration: none;
      border: 1px solid #011f5b;
      transition: all 0.3s;
      display: none;

      &:hover {
        background: #fff;
        color: #011f5b;
      }
    }
  }

  .fieldgroup {
    .fieldset-legend {
      margin-bottom: 10px;
      display: block;
    }
  }

  .image-widget-data {
    width: 100%;
  }

  .form-type-managed-file {
    .form-managed-file {
      input {
        display: flex;
        align-content: center;
      }
    }
  }

  .form-actions {
    #edit-submit {
      background: #011f5b;
      font-size: 20px;
      font-weight: 700;
      color: #fff;
      border-radius: 10px;
      padding: 18px 20px;
      font-family: tablet-gothic;
      text-decoration: none;
      border: 1px solid #011f5b;
      transition: all 0.3s;

      @supports (-moz-appearance: none) {
        padding: 18px 20px 16px 20px;
      }

      &:before {
        display: none;
      }

      &:hover {
        background-color: transparent;
        color: #011f5b;
      }
    }

    .button--danger {
      background: transparent;
      font-size: 20px;
      font-weight: 700;
      color: #fd4453;
      border-radius: 10px;
      padding: 18px 20px 18px 20px;
      font-family: tablet-gothic;
      text-decoration: none;
      border: 1px solid #fd4453;
      transition: all 0.3s;
      vertical-align: middle;

      &:hover {
        background-color: #fd4453;
        color: #fff;
      }
    }

    .btn-primary {
      background: transparent;
      font-size: 20px;
      font-weight: 700;
      color: #011f5b;
      border-radius: 10px;
      padding: 18px 20px 16px 20px;
      font-family: tablet-gothic;
      text-decoration: none;
      border: 1px solid #011f5b;
      transition: all 0.3s;

      &:before {
        display: none;
      }

      &:hover {
        background-color: #011f5b;
        color: #fff;
      }
    }
  }
}

.node-program-community-edit-form {
  margin-top: 30px;
  margin-bottom: 30px;

  .form-submit {
    background: #011f5b;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    border-radius: 10px;
    padding: 18px 20px 16px 20px;
    font-family: tablet-gothic;
    text-decoration: none;
    border: 1px solid #011f5b;

    &:hover {
      background: transparent;
      color: #011f5b;
    }

    &::before {
      opacity: 0;
    }
  }
}

.file--mime-image-png,
.file--mime-image-jpeg {
  padding-left: 0;
  padding-right: 10px;
}

.user-login-form {
  padding-top: 30px;
  padding-bottom: 30px;

  .form-submit {
    background: #011f5b;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    border-radius: 10px;
    padding: 18px 20px 16px 20px;
    font-family: tablet-gothic;
    text-decoration: none;
    border: 1px solid #011f5b;
    transition: all 0.3s;

    &:before {
      display: none;
    }

    &:hover {
      background: transparent;
      color: #011f5b;
    }
  }
}

.block-field-blocknodearticlefield-chas-news {
  padding-bottom: 30px;
}

.view-id-event_moderation_view {

  .node--unpublished {
    padding: 20px 0 0 0;
  }
}

.node--view-mode-moderator .field--label-inline {
  border: 1px solid #ccc;
  margin-bottom: 15px;
  padding: 10px 10px;
  max-width: 1235px;
}

.node--view-mode-moderator .field--label-inline .field__item {}

.node--view-mode-moderator .field--label-inline .field__label {
  margin-right: 10px;
  font-weight: 700;
}

.node-reserve-room-form {
  .field--name-field-room {
    .js-form-type-select {
      label {
        font-size: 36px;
        font-weight: 900;
        text-transform: none;
        margin-bottom: 20px;

        @include media-query("mobile") {
          font-size: 30px;
          line-height: 30px;
        }
      }

      select {
        height: 50px;
        color: #4e638c;
        border-color: #011f5b;
      }
    }
  }
}

.form-required {
  position: relative; // Ensure proper positioning if needed

  &::after {
    content: "";
    display: inline-block;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"><path fill="%23EE0000" d="M0,7.562l1.114-3.438c2.565,0.906,4.43,1.688,5.59,2.35C6.398,3.553,6.237,1.544,6.22,0.447h3.511 c-0.05,1.597-0.234,3.6-0.558,6.003c1.664-0.838,3.566-1.613,5.714-2.325L16,7.562c-2.05,0.678-4.06,1.131-6.028,1.356 c0.984,0.856,2.372,2.381,4.166,4.575l-2.906,2.059c-0.935-1.274-2.041-3.009-3.316-5.206c-1.194,2.275-2.244,4.013-3.147,5.206 l-2.856-2.059c1.872-2.307,3.211-3.832,4.017-4.575C3.849,8.516,1.872,8.062,0,7.562"/></svg>') no-repeat center center;
    background-size: contain;
    margin-left: 2px; // Adjust spacing if needed
    inset: unset !important;
  }
}

.view-webform-export {
  .form-floating {
    padding-top: 25px;

    >label {
      padding: 0;
      word-break: break-word;
      box-sizing: border-box;
      width: 100%;
    }
  }
}

.node-form #edit-field-event-schedule-wrapper button#edit-field-event-schedule-add-more {
  display: none;
}

// .node-form td.field-multiple-drag {
//   display: none;
// }

.node-form {
  td {
    &:empty {
      display: none;
    }

    background-color: transparent;
    box-shadow: none;
    padding-left: 0;
    padding-right: 0;

    &.has-multiple-fields-remove-button {
      padding: 0 !important;
    }
  }
}

.node-chas-event-form {

  .block,
  .field--widget-term-reference-tree {
    ul {
      .js-form-item {
        margin-bottom: 12px !important;
      }

      ul {
        margin-left: 14px;

        .no-term-reference-tree-button {
          display: none;
        }
      }
    }
  }
}

.view-webform-export {
  &.view-display-id-page_1 {
    .views-form {
      [data-drupal-selector="edit-webform-submission-bulk-form"] {
        .form-actions {
          .form-submit {
            display: none;
          }
        }
      }
    }
  }
}

.js-form-item {
  small.description {
    font-size: 14px;
    color: #011f5c !important;
  }
}

// .form-select{
// border: 1px solid $primaryColor;
// height: 50px;
// border-radius: 10px;
// padding: 0 30px 0 20px;
// font-size: 18px;
// color: #4E638C;
// font-family: $teritoryFont;
// @include media-query ('mobile') {
//   font-size: 16px;
// }
// &::placeholder {
//   color: #4E638C;
//   opacity: 1;
// }
// &:focus {
//   box-shadow: none;
//   border: 1px solid $primaryColor;
//   outline: none;
// }
// }

.info-fields {
  background: #ebf2ff;
  padding: 13px 20px;
  border-radius: 10px;
  margin-bottom: 32px;

  p {
    margin: 0;
    font-size: 18px;
    font-family: $teritoryFont;
    line-height: 25px;

    &:before {
      content: "";
      height: 25px;
      width: 25px;
      background: url(../../assets/images/info-icon.svg) no-repeat;
      background-size: contain;
      float: left;
      margin-right: 5px;
    }

    a {
      text-decoration-color: $primaryColor;
    }
  }
}

body.path-group {
  .group-house1-edit-form {
    [data-drupal-selector="edit-actions"] {
      display: flex;
      align-items: center;
      gap: 15px;
      flex-wrap: wrap;

      [data-drupal-selector="edit-submit"] {
        border: 1px solid $primaryColor;
        border-radius: 10px;
        padding: 17px 20px;
        text-align: center;

        &::before {
          display: none;
        }

        &:hover {
          background: #ffea3f;
          color: #011f5b;
          border-color: #ffea3f;
        }
      }

      [data-drupal-selector="edit-delete"] {
        border: 1px solid $primaryColor;
        border-radius: 10px;
        padding: 17px 20px;
        margin-right: 30px;
        text-align: center;
        background-color: $primaryColor;
        color: #fff;
        text-decoration: none;

        &:hover {
          background: #ffea3f;
          color: #011f5b;
          border-color: #ffea3f;
        }
      }
    }
  }
}

table {
  td {
    &:has(.smartdate--widget) {
      @media (max-width: 767px) {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
}

.event-evalution-form {
  .input-group {
    .input-group-prepend {
      span {
        color: $primaryColor;
        font-weight: 600;
        left: 0 !important;
        font-family: tablet-gothic;
        z-index: 6;
        height: 100%;
      }
    }

    input {
      padding-left: 25px;
    }
  }
}
input[type="date"]::-webkit-datetime-edit,
input[type="time"]::-webkit-datetime-edit{
padding-top: 2px;
&:focus{
  color: #fff !important;
}
}
input[type="date"]::-webkit-datetime-edit-year-field,
input[type="date"]::-webkit-datetime-edit-month-field,
input[type="date"]::-webkit-datetime-edit-day-field,
input[type="time"]::-webkit-datetime-edit-hour-field,
input[type="time"]::-webkit-datetime-edit-minute-field,
input[type="time"]::-webkit-datetime-edit-meridiem-field {
  -webkit-text-fill-color: rgb(78, 99, 140);
  padding-top:7px;
  padding-bottom: 5px;
  line-height: 40px;
  &:focus-visible,
  &:focus{
    background-color: #99b9cf !important;
  }
}

input[type="date"]::-webkit-datetime-edit-text,
input[type="time"]::-webkit-datetime-edit-text {
  padding-bottom: 5px;
}


.mac_os {
  .calender-page {
    .calender-right {
      .pager__items {
        .pager__current {
          .js-form-item {
            padding: 12px 15px 12px 15px;
          }
        }
      }
    }
  }
  .node-chas-event-form {
    table.field-multiple-table {
      tbody {
        tr {
          td {
            .smartdate--widget {
              .smartdate--time-inline {
                .time-start,
                .time-end {
                  padding-top: 0;
                }
              }
            }
          }
        }
      }
    }
  }
}

.node-page-form {
  .field-multiple-table{
    .js-form-type-entity-autocomplete{
    margin-bottom: 0 !important;
    margin-right: 6px;
    }
  }
}