.hero-banner {
  background-color: var(--background-house-color);
  padding-top: 60px;
  position: relative;
  z-index: 2;

  @include media-query('tablet') {
    padding-top: 35px;
  }

  h1 {
    span {
      font-weight: 400;
      @include media-query('mobile') {
        display: block;
      }
    }
  }
  .container {
    position: relative;
    &:before {
      position: absolute;
      left: -100px;
      top: -110px;
      width: 240px;
      height: 240px;
      border-radius: 50%;
      content: "";
      background-color: var(--circle-house-color,#FFEB40);
      @include media-query('tablet') {
        height: 140px;
        width: 140px;
        left: -52px;
        top: -58px;
      }
    }    
  }
  .row{
    justify-content: space-between;
  }
  .col-12 {
    position: relative;
    z-index: 1;
    @include media-query('tablet') {
      z-index: inherit;
    }
    &:nth-child(1){
      @media (min-width:1300px) {
        // max-width: 578px;
        width: 42.8%;
      }
    }
    &:nth-child(2){
      @media (min-width:1300px) {
      // max-width: 720px;
      width: 53.4%;
      }
    }
  }

  &.yellow-circle {
    .container {
      &:before {
        background-color: $yellowHighlightColor;
      }
    }
  }
 
  .right-align-infor {
    position: absolute;
    right: 12px;
    top: -40px;
    @include media-query('small') {
      position: static;   
      margin-bottom: 20px;   
    }
    span {
      font-family: $teritoryFont;
      font-size: 12px;
      margin-right: 20px;
    }
    a {
      text-decoration: underline;
      font-family: $teritoryFont;
      font-size: 12px;
      font-weight: 700;
      &:hover {
        text-decoration: none;
      }
    }
  }
  h1 {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 0;
    @include media-query('mobile') {
      padding-bottom: 8px;
    }
  }
  p {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 30px;
    @include media-query('mobile') {
      margin-bottom: 16px;
    }
    @include media-query('tablet') {
      font-size: 20px;
      line-height: 24px;
    }
  }

  .hero-img {
    @include media-query('tablet') {
      margin-top: 30px;
    }
    @include media-query('mobile') {
      margin-top: 45px;
    }
    img {
        height: auto;
    }
    .field--type-image {
        margin: 0 !important;
    }
  }

  &.without-image {
    .col-lg-6 {
      flex: 0 0 auto;
      width: 100%;
      min-height: 240px;
      @include media-query('mobile'){
        min-height:auto;
      }
    }
  }
  &.small {
    .col-lg-6 {
      min-height: 210px;
      @media(max-width: 767px) {
        min-height: auto;
         p{
          margin-bottom: 0;
         }
      }
    }
    .banner-info.items-gap {
      @media(max-width: 767px) {
        gap: 0;
         
      }
    }
  }
  .banner-info.items-gap {
      display: flex;
      flex-wrap: wrap;
      height: 100%;
      gap: 100px;
      @include media-query ('mobile'){
        gap: 40px;
      }
      h1 {
        margin-bottom: 0;
        padding-bottom: 0;
        width: 100%;
    }
  }

  &.with-bottom-border {
    border-bottom: 1px solid $primaryColor;
    padding-bottom: 20px;
  }

  &.banner-style2 {
    .col-lg-6 {
      width: 65%;
      @include media-query('tablet') {
        width: 100%;
      }
    }
    p {
      margin-bottom: 0;
    }

    .banner-info.items-gap {
      gap: 100px;
      @include media-query('tablet') {
        gap: 40px;
      }
    }
  }
  &.without-image.small{ 
    .internal-links{
      @media(max-width: 1300px){
        position: absolute;
        left: 15px;
      }
    }  
  }
}


.mac-os {
  .hero-banner{
     h1{
      padding-bottom: 50px;
      @include media-query('mobile') {
        padding-bottom: 20px;
      }
     }
  }
  .hero-img{
    margin-top: 54px;
  }
}

.hero-banner + .container {
  z-index: 1;
  position: relative;
}
.path-frontpage {
  .hero-banner {
    .hero-img {
      &:not(:has(.field--name-field-media-image img)) {
        @media (min-width: 992px) {
          min-height: 800px;
        }
        @include media-query('tablet') {
          min-height: 250px;
        }
      }
    }
  }
}

.hero-banner {
  .hero-img {
    &:not(:has(.field--name-field-media-image img)) {
      @media (min-width: 992px) {
        min-height: 250px;
      }
    }
  }
}
// .hero-banner{
//   &.without-image{
//     &.small{
//       .col-lg-6 {
//         @include media-query('mobile'){
//           min-height: auto;
//         }
//       }
//     }
//   }
// }

.dashboard-page{
  .hero-banner.small {
    .col-lg-6{
      @include media-query('mobile'){
        min-height: auto;
      }
    }
  }
}