.event-modal {
  .modal-dialog {
    max-width: 400px;
  }

  .modal-header {
    border: 0;
    padding: 0;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;

    .btn-close {
      background: none;
    }

    a {
      font-size: 12px;
      text-transform: uppercase;
      font-weight: 600;
      text-decoration: none;
      display: inline-flex;
      align-items: center;
      gap: 4px;
      font-family: $teritoryFont;

      img {
        position: relative;
        top: -2px;
      }
    }

    .modal-header-left {
      display: inline-flex;
      gap: 15px;
    }

    .modal-header-right {
      button {
        padding: 0;
        opacity: 1;
      }
    }
  }

  .modal-content {
    border-radius: 10px;
    max-height: 690px;
    overflow: scroll;
  }

  .event-detail {
    margin-bottom: 15px;
  }

  .event-details {
    padding: 0;
  }

  .col-lg-8,
  .col-lg-4 {
    width: 100%;
  }

  h1 {
    font-size: 36px;
    line-height: 46px;
    font-weight: 700;
  }

  .event-detail-left {
    ul {
      li {
        margin-bottom: 0;
      }
    }

    p {
      font-size: 20px;
      line-height: 24px;
    }

    .btns-wrapper {
      flex-wrap: wrap;
      margin-top: 20px;
      gap: 15px;

      .blue-tpt,
      .blue-filled {
        font-size: 16px;
        padding: 14px 20px 11px 20px;
      }
    }

  }
}

.calendar-modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);

  .modal-content {
    width: 300px;
    height: 300px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 15px 10px;
    border: 0;
    overflow: auto;
    font-family: $teritoryFont;
  }

  .close-btn {
    background: url('../../assets/images/close-icon.svg')no-repeat;
    height: 21px;
    width: 18px;
    padding: 0;
    text-indent: -9999px;
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;

    &:hover {
      filter: brightness(0) saturate(100%) invert(42%) sepia(48%) saturate(5166%) hue-rotate(331deg) brightness(101%) contrast(98%);
    }
  }

  .modal-title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .title-weekday {
      font-size: 12px;
      line-height: 12px;
      text-transform: uppercase;
      margin-bottom: 12px;
    }

    .title-date {
      font-size: 24px;
      line-height: 24px;
      font-weight: 700;
    }
  }

  #modal-body {
    margin-top: 16px;
    overflow: auto;
    height: calc(300px - 50px);

    .modal-event {
      padding: 8px 6px;
      border-radius: 4px;
      font-family: $teritoryFont;
      font-size: 14px;
      line-height: 15px;
      color: #011F5B;
      margin: 2px 0;

      &:hover {
        background-color: #EBF2FF;
      }

      a {
        white-space: nowrap;
        text-decoration: none;
        font-weight: 600;

        span {
          font-weight: 400;
        }
      }
    }
  }

  h2 {
    text-align: center;
    font-size: 24px;
    line-height: 34px;
    font-family: $teritoryFont;
  }

  p {
    font-family: $teritoryFont;
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 8px 0;
  }
}
// .page-view-calend
.ui-dialog:has(.node--type-chas-event),
.ui-dialog:has(.node--type-notices),
.ui-dialog:has(.node--view-mode-calendar-view) {
  padding: 0 !important;
  border: 0;
  border-radius: 8px;
  max-width: 400px;

  .ui-dialog-titlebar {
    padding: 0;
    background: none;
    border: 0;

    .ui-dialog-title {
      display: none;
    }

  }

  .blue-filled {
    &:hover {
      background-color: $yellowLightColor;
      color: $primaryColor;
      border-color: $yellowLightColor;
    }
  }

  .ui-dialog-titlebar-close {
    background-color: transparent;
    border: 0;
    background-image: url(../../images/close.svg);
    background-repeat: no-repeat;
    position: absolute;
    right: 30px;
    top: 28px;
    opacity: 1;
    z-index: 111;
    cursor: pointer;

    &:hover {
      filter: brightness(0) saturate(100%) invert(42%) sepia(48%) saturate(5166%) hue-rotate(331deg) brightness(101%) contrast(98%);
    }
  }

  .event-details-breadcrumbs,
  .reserve-details-breadcrumbs,
  .reserve-breadcrumbs {
    margin-top: 0;
    min-height: 25px;

    ul {
      // justify-content: space-between;
      // flex-direction: row-reverse;
      gap: 25px;
      padding-right: 40px;
      position: relative;
      

      li {
        &.copy-icon {
          position: relative;
          order: 1;
          position: absolute;
          right: 45px;
          top: -4px;
          padding-right: 1px;

          a {
            &:hover {
              svg {
                path {
                  fill: #fd4453;
                }
              }
            }
          }
        }
      }
    }
  }


  .ui-dialog-content {
    padding: 0 !important;
    max-height: 72dvh !important;
    overflow: hidden;

    article,
    .node--unpublished {
      padding: 18px 30px 30px 30px;

      .row {
        gap: 30px;
        height: calc(72dvh - 70px);
        overflow: auto;

        .col-lg-9,
        .col-lg-3 {
          width: 100%;

          .field--type-entity-reference{
            img {
              width: 100%;
            }
          }
        }
      }
    }

    .event-details-wrap {
      padding-top: 15px !important;
      padding-bottom: 25px;
    }

    .block-field-blocknodechas-eventtitle {
      margin-bottom: 10px;
    }
    .block-field-blocknodereserve-roomtitle{
      padding-top: 15px;
    }
    .event-breadcrumbs,
    .reserve-breadcrumbs {
      li:first-child {
        display: none;
      }

      ul {

        a {
          color: $primaryColor;
          display: inline-flex;
          align-items: center;
          gap: 3px;
          padding-left: 0;
          position: relative;
          top: 5px;

          img {
            position: relative;
            top: -2px;
          }
        }
      }
    }

    h1 {
      font-size: 48px;
      line-height: 48px;
      color: $primaryColor;
      a{
      font-size: 48px;
      line-height: 48px;
      color: $primaryColor !important;
      text-decoration: none;
      pointer-events: auto;

      &:hover {
        color: $redHighlightColor !important;
        cursor: pointer;
      }
    }
  }

    .container {
      padding: 0;
    }

    .field--name-field-event-schedule {
      img {
        margin-right: 5px;
      }

      time {
        color: $primaryColor;
        font-size: 12px;
        font-weight: 600;
        text-decoration: underline;
        text-decoration-color: $lightBlue;
        font-family: $teritoryFont;
        text-decoration-thickness: 2px;
        text-underline-offset: 4px;
      }
    }

    .field--name-field-text-box-2,
    .field--name-field-text-box {
      img {
        margin-right: 5px;
      }

      .event-detail-location {
        color: $primaryColor;
        font-size: 12px;
        font-weight: 600;
        text-decoration: underline;
        text-decoration-color: $lightBlue;
        font-family: $teritoryFont;
        text-decoration-thickness: 2px;
        text-underline-offset: 4px;
      }
    }
    .field--name-field-location,
    .field--name-field-groups{
      img {
        margin-right: 5px;
        width: unset !important;
      }

      .event-house-location-details {
        font-size: 12px;
        text-transform: uppercase;
        font-family: tablet-gothic;
        font-weight: 600;
      }
    }

    .block-field-blocknodereserve-roomfield-group {
      img {
        margin-right: 5px;
        width: 17px;
      }
    }

    .block-field-blocknodereserve-roomfield-group,
    .block-field-blocknodereserve-roomfield-event-schedule,
    .block-field-blocknodereserve-roomfield-room {

      .field--name-field-group,
      .field--name-field-room {
        margin-bottom: 10px !important;
      }

      .field__item {
        font-size: 12px !important;
        text-transform: uppercase;
        font-family: tablet-gothic;
        font-weight: 600;
      }
    }

    .file--mime-application-pdf{
      padding-left: 0;
      a{
        color: $primaryColor !important;
        font-size: 18px;
      line-height: normal;
      word-break: break-all;
        &:hover{
          color: #fd4453 !important;
        }
      }
    }
    .event-details-wrap .block-field-blocknodechas-eventfield-text-box-2 {
      margin-bottom: 15px;

      .field--name-field-text-box-2 {
        display: inline-flex;
        align-items: flex-start;

        img {
          margin-top: 5px;
        }
      }
    }

    .content {
      color: $primaryColor;
      font-family: $primaryFont;

      a {
        color: #fff;

        &:hover {
          color: $primaryColor;
        }
      }
    }

    p.event-detail-left {
      font-size: 18px;
      line-height: normal;
    }
    .node__content{
      padding: 0;
      .space-medium-bottom:has(.reserve-details-breadcrumbs){
        padding: 0;
      }
    }

  }
}


.mac_os {
  .ui-dialog:has(.node--type-chas-event) {
    .ui-dialog-content {
      .event-breadcrumbs {
        ul {
          a {
            img {
              position: relative;
              top: 2px;
            }
          }
        }
      }
    }
  }
  .ui-dialog:has(.node--view-mode-calendar-view)  {
    .ui-dialog-content {
      article {
        .reserve-details-breadcrumbs {
          ul {
            li {
              a {
                img{
                  position: relative;
                  top: 2px;
                }
              }
            }
          }
        }
        .node__content{
          padding: 0;
          .space-medium-bottom:has(.reserve-details-breadcrumbs){
            padding: 0;
          }
        }
      }
      h2{
        margin-top: 0 !important;
      }
    }
}
}

.ui-widget.ui-widget-content {
  padding: 0;
  border: 0;
  border-radius: 8px;

  .ui-dialog-titlebar {
    background-color: #fff;
    border: none;
    .ui-dialog-titlebar-close {
      background: url('../../assets/images/close-icon.svg')no-repeat;
      height: 21px;
      width: 18px;
      background-color: transparent;
      right: 20px;
    border: 0;
      &:hover {
        filter: brightness(0) saturate(100%) invert(42%) sepia(48%) saturate(5166%) hue-rotate(331deg) brightness(101%) contrast(98%);
      }
    }
  }

  .ui-dialog-content {
    padding: 18px 30px 30px 30px;
  }
}
.ui-dialog:has(.node--view-mode-calendar-view){
  .ui-dialog-content {
    article{
      &.container{
        padding: 18px 30px 30px 30px;
        font-size: 18px;
        line-height: normal;
        a{
          color: $primaryColor;

          &:hover{
            color: $redHighlightColor;
            text-decoration: none;
          }
        }
        span{
          margin-bottom: 10px;
          display: block;
        }
        .field__item{
          margin-bottom: 4px;
          font-size: 18px;
          line-height: normal;
          word-wrap: break-word;
          p{
            margin-bottom: 0;
          }
        }
        .field--type-smartdate{
          margin-bottom: 10px;
        }
      }
     
      .reserve-details-breadcrumbs {
        ul{
        display: flex;
          list-style-type: none;
          margin: 0;
          padding: 0;
          width: 100%;
          justify-content: flex-start;
          li{
            &:first-child{
              display: none;
            }
            a{
              font-size: 12px;
              font-weight: 600;
              font-family: tablet-gothic;
              text-transform: uppercase;
              text-decoration: none;
              position: relative;
              color: #011f5b;
              display: inline-flex;
              align-items: center;
              gap: 3px;
              padding-left: 0;
              img{
                padding-right: 6px;
                padding-bottom: 3px;
              }
              &:hover{
                color:$primaryColor;
              }
            }
          }
        }
      }
      .layout--onecol {
        padding: 0 !important;
        max-height: 72dvh !important;
        overflow: hidden;
        .layout__region--content{
          gap: 30px;
          max-height: calc(72dvh - 70px);
          overflow: auto; 
          h2{
            margin-top: 10px;
          }
        }
      }
    }
  }
}

.calendar-item-modal {
  .blue-filled {
    margin-bottom: 20px;
  }

  .add-to-calendar {
    display: inline-flex !important;
  }
}
