
.section-title {
  margin-bottom: 30px;
  text-align: left;
  &.align-right {
    text-align: right;
  }

  &.align-center {
    text-align: center;
  }

  h3 {
    text-transform: uppercase;
    margin-bottom: 0px;
  }

  p {
    display: inline-block;
    max-width: 875px;
    font-size: 24px;
    line-height: 28px;
    @include media-query('mobile') {
      font-size: 20px;
      line-height: 24px;
    }
  }
}


.signature-programs {
  .row.space {
    padding-bottom: 15px;
    p{
      font-size: 24px;
      line-height: 28px;
      @include media-query('mobile'){
        font-size: 20px;
        line-height: 24px;
      }
    }
  }
}
