.tab-outer {
  width: 100%;
  @include media-query('mobile') {
    overflow: scroll;
  }
}

.nav-tabs {
  padding-bottom: 20px;
  border-bottom: 1px solid $primaryColor;
  @include media-query('tablet') {
    flex-wrap: nowrap;
    width: 700px;    
  }
  
  .nav-item {
    margin-right: 10px;
    @include media-query('tablet') {
     
    }
  }
  .nav-link {
    border: 1px solid $primaryColor;
    border-radius: 10px;
    font-size: 18px;
    color: $primaryColor;
    font-family: $teritoryFont;
    padding: 14px 20px 12px 20px;
    @include media-query('small') {
      font-size: 14px;
      padding: 8px 10px 6px 10px;
    }
    &.active {
      border: 1px solid $primaryColor;
      background-color: $primaryColor;
      color: #fff;
    }
  }
  .bef-link {
    font-family: $teritoryFont;
    padding: 14px 20px 12px 20px;
    border-radius: 10px;
    font-size: 18px;
    border: 1px solid #011f5b;
    background-color: #fff;  
    color: #011f5b;
    text-decoration: none;
    display: inline-block;
    &.bef-link--selected {
      background-color: #011f5b;
      color: #fff;
    }
  }
 
}

.view-our-team-list {
  .view-filters {
    .nav-tabs {
      li:first-child {
        display: none;
      }
    }
  }
}

.dashboard-tabs {
  border: 1px solid $primaryColor;
  padding: 30px;
  display: flex;
  align-items: flex-start;
  position: relative;
  @include media-query ('mobile') {
    margin-bottom: 24px;
    padding: 24px 20px;
  }

  .field--type-link {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    a{
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      opacity: 0; 
    }
  }
  
  .field--name-field-heading  {
    font-size: 36px;
    font-weight: 700;
    color: $primaryColor;
    font-family: $secondaryFont;
    margin-bottom: 0;
    line-height: normal;
  }
  .circle-color {
    text-align: center;
    margin-right: 20px;
    .circel {
      width: 50px;
      height: 50px;
      display: inline-block;
      border-radius: 50%;
      @include media-query ('mobile') {
        width: 42px;
      }
    }
    .field--name-field-icon {
      margin-top: -25px;
    }
  }

  .right-content {
    width: calc(100% - 70px);
    p {
      font-size: 18px;
      font-family: $teritoryFont;
      margin: 0;
    }
  }
}

.title-blue-bg {
  background: #ebf2ff;
  padding: 80px 0;
  @include media-query ('mobile') {
    padding: 40px 0;
  }
}

.title-blue-bg.with-bottom-section {
  padding-bottom: 0;
}

.blockdashboard-blocks {
  padding-top: 40px;
  background: #EBF2FF;
 

  .block-inline-blockdashboard-blocks {
    @include media-query ('small') {
      margin-bottom: 24px;
    }
  
    .contents {
      h5 {    
        text-transform: capitalize;
      }
      p {
        font-size: 18px;
      }
      .field--type-entity-reference{
        display: none;
      }
    }
  }
}