.field-multiple-table {
	td {
		vertical-align: middle;
		&.has-multiple-fields-remove-button {
			.js-form-item {
				margin-bottom: 0 !important;
			}
			button {
				display: none;        
			}
		}
	}
}
.view-id-users_reports,
.reports {
  table {
    font-size: 16px;
  }
}