.field-multiple-table {
	td {
		vertical-align: middle;
		&.has-multiple-fields-remove-button {
			.js-form-item {
				margin-bottom: 0 !important;
			}
			button {
				display: none;        
			}
		}
	}
}
.view-id-users_reports,
.reports {
  table {
    font-size: 16px;
    width: 1600px; 
    position: relative;   
    thead {
      position: sticky;
      top: 0;
      background-color: #fff; 
      z-index: 2;
      tr {
        th {
          border-left: 1px solid #ccc;
          border-top: 1px solid #ccc;
          &:last-child{
            border-right: 1px solid #ccc;
          }
          .tablesort {
            filter: invert(1);
          }
        }
      }
    }
    tr {
      td {
        border-left: 1px solid #ccc;
        &:last-child{
          border-right: 1px solid #ccc;
        }
      }
    }
  }
}
.reports:has([id^="views-exposed-form-events-evaluation-report-page-"]) {
  table {
    max-width: none;
    width: 3500px;
  }
}