.top-notifications {
  padding: 22px 0;

  @include media-query('mobile') {
    font-size: 18px;
    padding: 17px 0;
  }
  &.align-right {
    text-align: right;
  }
  &.align-center {
    text-align: center;
  }
  h5 {
    font-size: 24px;
    font-family: $secondaryFont;
    margin: 0;
    font-weight: 700;
    @include media-query('mobile') {
      font-size: 20px;
    }
  }
  p {
    font-size: 14px;
    line-height: 18px;
    margin: 0;
    font-family: $teritoryFont;
    @include media-query('mobile') {
      font-size: 11px;
      line-height: 14px;
    }
    a {
      font-weight: 700;
      text-decoration: none;
      border-bottom: 1px solid #011F5B;
      padding-bottom: 2px;
    }
  }
}

#block-penchas-attentionnewandreturningstudents {
  position: sticky;
  top: 0;
  z-index: 1020;
}


#block-penchas-attentionnewandreturningstudents22 {
  position: sticky;
  z-index: 1010;
  top: 0;
}


.user-logged-in #block-penchas-attentionnewandreturningstudents,
.user-logged-in #block-penchas-attentionnewandreturningstudents22 {
  position: static;
}
