.two-column-slider-slide {
  &.slick-slide {
    background: $primaryColor;
    padding: 0 60px; 
    display: flex;
    flex-wrap: wrap;
    margin-top: 35px;
    @include media-query('mobile') {
      flex-wrap: wrap;
      margin-top: 20px;
      padding: 0 18px; 
    }
  }
  .two-column-slider-slide-img{
    width: 50%;
    display: block;
    position: relative;
    @include media-query('mobile') {
      width: 100%;
    }
    &:after {
      display: block;
      padding-bottom: 100%;
      content:"";
    }
    img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      margin-top: -35px;
      @include media-query('mobile') {
        margin-top: -20px;
      }
    }
 
  }

  .two-column-slider-slide-info {
    width: 50%;
    padding: 95px 0 60px 60px;
    max-width: 520px;
    @include media-query('mobile') {
      width: 100%;
      max-width: 100%;
      padding: 45px 0 60px 0px;
    }
    * {
      color: #fff;
    }

    p {
      font-size: 24px;
      line-height: 28px;
      @include media-query('mobile') {
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 40px;
      }
    }
  }  
}
 

.two-column-slider {
  .slick-arrow {
    margin: 0;
    padding: 0;
    border: 0;
    position: absolute;
    bottom: 32px;
    background: url(../../assets/images/slider-arrow.svg) no-repeat;
    font-size: 0;
    width: 30px;
    height: 28px;
    z-index: 1;
  }

  .slick-arrow.slick-prev {
    left: calc(50% + 60px);
    transform: scaleX(-1);
    @include media-query('mobile') {     
      left: 28px;
    }
  }
  .slick-arrow.slick-next {
    left: calc(50% + 120px);
    @include media-query('mobile') {     
      left:65px;
    }
  }

  .slider__counter {
    position: absolute;
    top: 90px;
    color: $lightBlue;
    font-family: tablet-gothic;
    font-size: 14px;
    left: calc(50% + 60px);

    @include media-query('mobile') {      
      top: auto;
      color: $lightBlue;      
      font-size: 12px;
      left: 28px;
      bottom: 219px;
    }
    @include media-query-range('mobile-mid', 'mobile') {
      bottom: 195px;
    }
    @include media-query ('very-small') {
      bottom: 242px;
    }
  }
}

.image-with-text-boxed {
  .section-title {
    h2 {
      @include media-query('mobile') {
        max-width: 290px;
        display: inline-block;
      }
    }
  }
}

.mac-os {
  .staff{ 
    .staff-name{ 
      h4{
        margin-bottom: 8px;
      }
    }
  }
  .two-column-slider-slide{ 
    .two-column-slider-slide-info{ 
      h3 {
        margin-bottom: 20px;
      }
    }
  }
}