.filters{
    margin-top: 30px;
}
.filter-section {
	display: flex;
    align-items: flex-end;
    gap: 20px;
    justify-content: space-between;
    margin-bottom: 30px;
}
.filter-dropdown {
	display: flex;
    flex-direction: column;
    width: 482px;
	label {
		font-size: 12px;
        color: #011F5B;
        margin-bottom: 10px;
        line-height: 14px;
        text-transform: uppercase;
        font-family: 'tablet-gothic';
	}
	select {
		padding: 17px 20px;
        border: 1px solid #011F5B;
        border-radius: 8px;
        font-size: 20px;
        line-height: 24px;
        color: #02014C;
        background-color: #fff;
        cursor: pointer;
        appearance: none;
        font-family: 'tablet-gothic';
		&:after {
			content: "";
            position: absolute;
            right: 1rem;
            pointer-events: none;
		}
	}
}
.filter-button {
	background-color: #011F5B;
    color: #fff;
    font-family: 'tablet-gothic';
    border: none;
    padding: 18px 20px;
    border-radius: 8px;
    font-size: 20px;
    line-height: 24px;
    cursor: pointer;
    font-weight: 700;
    width: 315px;
    transition: all 0.3s;
	&:hover {		
            background: #ffea3f;
            color: #011f5b;       
	}
}
.selected-filters {
    display: flex;
    gap: 10px;
    margin-bottom: 60px;
}
.filter-tag {
	display: inline-flex;
    align-items: center;
    background-color: #EBF2FF;
    color: #011F5B;
    border-radius: 12px;
    padding: 10px 10px 6px 10px;
    font-size: 12px;
    line-height: 14px;
    cursor: pointer;
    text-transform: uppercase;
    font-family: 'tablet-gothic';
	&::before {
		content: "✕";
        font-size: 12px;
        line-height: 12px;
        font-weight: 400;
        margin-right: .3rem;
        color: #011F5B;
	}
}
.clear-filters {
	margin-left: auto;	
}