.half-screen-img {
  .inner-container {
    padding: 75px 25px 60px 50px;
    display: inline-block;
    text-align: left;
    max-width: 675px;
    @include media-query('medium') {
      padding-left: 20px;
      max-width: 100%;
    }
    @include media-query('tablet') {
      padding: 50px 0px 50px 0px;
    }
  }

  .bg-img {
    min-height: 450px;
    img{
      height: 100%;
    }
  }
  &.block-inline-blocknews-announcements{ 
    .bg-img {
      position: relative;
      img{
        position: absolute;
        left: 0;
        object-fit: cover;
      }
    }
  }
}

/*for MAC's*/
.mac-os{
  .section-title{ 
    margin-bottom: 38px;
    h3 { 
       margin-bottom: 14px;
    }
  }
}