.image-with-text-inner {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  .info-column {
    padding-left: 0px;
    padding-right: 60px;
  }  
}

.image-with-text { 
  margin-top: 35px;  
  @include media-query('mobile') {
    padding-bottom: 30px;
  }
  &.style-2 {     
    .image-with-text-inner {      
      margin-top: 80px;   
      border-top: 1px solid $primaryColor;         
      padding: 0;
      width: calc(100% - 26px);
      margin-left: 13px;
      @include media-query('tablet') {
        margin-top: 50px;  
        width: 100%;
        margin-left: 0px; 
        padding: 0;
      }
    }
    .row {
      &:nth-child(odd)  {
        .image-with-text-inner {   
          flex-direction: row-reverse;
        }

        .info-column {
          padding-left: 0px;
          padding-right: 60px;
          @include media-query('mobile') {
            padding-right: 0px;
          }
        }
      }

        &:nth-child(even)  {
          .image-with-text-inner {   
            flex-direction: inherit;
          }
          .info-column {
            padding-left: 60px;
            padding-right: 0px;
            @include media-query('mobile') {
              padding-left: 0px;
            }
          }
        }
    }
  }
 
 
  .info-column {
    padding-left: 0px;
    padding-top: 60px;
    padding-bottom: 60px;
    @include media-query('tablet') {
      padding-left: 0;
    }
    @include media-query('mobile') {
      padding-top: 30px;
      padding-right: 0;
      padding-bottom: 0;
    }
    a.arrow-link {
      margin-top: 60px;
      display: inline-block;
      @include media-query('tablet') {
        margin-top: 5px;
      }
    }
  }
  p {
    font-size: 24px;
    line-height: 28px;
    @include media-query('mobile') {
      font-size: 20px;
      line-height: 24px;
    }
  }

  .img-column {
    text-align: center;
    img {
      display: inline-block;
      margin-top: -35px;
      @include media-query('mobile') {
        max-height:200px;
      }
    }
   
  }
  &.style-3 {
    padding-top: 80px;
    .image-with-text-inner {
        border-top: 1px solid #011F5B;
        padding: 0;
        .info-column {
          padding-left: 60px;
      }
    }
    .row{
      margin-bottom: 55px;
      &:nth-child(even){ 
        .image-with-text-inner {
          flex-direction: row;
          .info-column {
              padding-left: 0;
          }
        }
      }
      &:last-child {
          margin-bottom: 0;
          .info-column {
            padding-bottom: 0;
        }
      }
    }
  }
  ul {
    padding-left: 20px;
    margin-bottom: 0;
    li {
      font-size: 24px;
      line-height: 28px;
      margin-bottom: 20px;
      &::marker {
          color: #92B7FF;
      }
      &:last-child {
          margin-bottom: 0;
      }
    }
  }
}

.mac-os {
  .image-with-text{ 
    .info-column{ 
      h2{
        margin-bottom: 18px;
      }
    }
  }
  .cta{ 
    h2{ 
      span {
        position: relative;
        top: -8px;
      }
    }
  }
}