.region-top-header {
  position: sticky;
  top: 0;
  z-index: 1020;
}

.administrator {
  .region-top-header {
    position: relative;
  }
}

.mobile-menu-toggle {
  font-size: 20px;
  font-weight: 700;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  margin-left: 25px;
  cursor: pointer;
  font-family: $teritoryFont;

  @include media-query('mobile') {
    font-size: 18px;
  }

  button {
    border: 0;
    margin: -4px 0 0 0;
    padding: 0;
    background: none;
    position: relative;
    display: block;
    height: 25px;
    width: 20px;

    @include media-query('mobile') {
      padding-top: 0;
    }

    span {
      display: block;
      height: 2px;
      margin: 0px 0;
      width: 20px;
      background: $primaryColor;
      position: absolute;
      left: 0;
      transform: rotate();
      transition: all ease-in-out 0.3s;

      &:nth-child(1) {
        top: 5px;
      }

      &:nth-child(2) {
        top: 12px;
      }

      &:nth-child(3) {
        top: 19px;
      }
    }


  }

  &.active {
    button {
      span {
        &:nth-child(1) {
          transform: rotate(45deg);
          top: 10px;
        }

        &:nth-child(2) {
          opacity: 0;
        }

        &:nth-child(3) {
          transform: rotate(-45deg);
          top: 10px;
        }
      }
    }
  }
}

header {
  border-bottom: 1px solid $primaryColor;
  background: #fff;
  position: relative;
  z-index: 3;
  position: sticky;
  top: 184px;
  z-index: 1020;

  @include media-query('tablet') {
    top: 208px;
  }

  @include media-query('mobile') {
    top: 192px;
  }

  .navbar {
    padding-top: 15px;
    padding-bottom: 15px;

    @include media-query('mobile') {
      padding-top: 7px;
      padding-bottom: 7px;
    }
  }

  .right-menu {
    .btn-default {
      @include media-query('mobile') {
        display: none;
      }
    }
  }

  @include media-query-min('tablet-large') {
    .right-menu {
      .offcanvas-body {
        justify-content: flex-end;
        align-items: center;

        nav {
          ul {
            li.nav-item {
              a.nav-link--user-login {
                border: 1px solid #011f5b;
                padding: 16px 20px 18px;
                color: #011f5b;
                font-size: 20px;
                line-height: 24px;
                font-family: tablet-gothic;
                border-radius: 8px;
                font-weight: 700;
                text-decoration: none;
                text-transform: capitalize;
                margin-right: 30px;

                @supports (-moz-appearance: none) {
                  padding: 18px 20px 14px;
                }
                &:hover {
                  background: #ffea3f;
                  color: #011f5b;
                  border-color: #ffea3f;
                }
              }
            }

            a.nav-link.nav-link--dashboard {
              font-size: 20px;
              line-height: 24px;
              font-weight: 700;
              color: #011f5b;
              text-decoration: none;
              font-family: tablet-gothic;
              padding: 18px 16px 18px 0;
            }
          }
        }

        .tb-megamenu {
          position: static;
          font-family: 'tablet-gothic';

          ul.tb-megamenu-nav {
            position: static;

            li.tb-megamenu-item {
              position: static;

              .dropdown-toggle {
                &.tb-megamenu-no-link {
                  background-color: #fff;
                  border: 0;
                  color: #011f5b;
                  text-decoration: none;
                  padding: 17px 0 17px 0;
                  font-size: 20px;
                  display: inline-flex;
                  align-items: center;

                  &::after {
                    border: 0;
                  }

                  span.caret {
                    border: 0;
                    display: block;
                    height: 20px;
                    width: 20px;
                    background: url('../../assets/images/burger-icon.svg')no-repeat;
                    background-position: center;
                    margin: 0px 0 0 10px;
                  }

                  span.caret {
                    // display: block;
                    // height: 2px;
                    // margin: 0 0;
                    // width: 20px;
                    // background: #011f5b;
                    // transition: all ease-in-out .3s;
                    // top: 0;
                    // position: relative;
                    // margin-left: 10px;
                    // &:before {
                    //   content: "";
                    //   position: absolute;
                    //   display: block;
                    //   height: 2px;
                    //   margin: 0 0;
                    //   width: 20px;
                    //   background: #011f5b;
                    //   transition: all ease-in-out .3s;
                    //   top: -7px;
                    // }
                    // &:after {
                    //   content: "";
                    //   position: absolute;
                    //   display: block;
                    //   height: 2px;
                    //   margin: 0 0;
                    //   width: 20px;
                    //   background: #011f5b;
                    //   transition: all ease-in-out .3s;
                    //   top: 7px;
                    // }
                  }
                }

                &:after {
                  border: 0;
                }
              }

              .tb-megamenu-submenu {
                left: 0;
                width: 100% !important;
                left: 0;
                background: #EBF2FF;

                * {
                  position: relative;
                  display: block;
                  box-shadow: none;
                  border: 0;
                  background: transparent;
                  color: #011F5B;
                  font-size: 18px;
                  line-height: 22px;
                  text-decoration: none;
                  padding-left: 0;
                  padding-right: 0;
                  text-transform: capitalize;
                }

                ul {
                  &.tb-megamenu-subnav {
                    &.level-1 {
                      .level-2 {
                        .dropdown-toggle.nav-link {
                          font-weight: 700;
                          font-size: 18px;
                        }
                      }

                      &.items-2 {

                        &>li {
                          &.tb-megamenu-item {
                            &.level-2 {
                              &>a {
                                font-weight: bold;
                                font-size: 18px;
                                color: #011F5B;
                                text-decoration: none;
                                font-weight: bold;
                                text-transform: capitalize;
                              }
                            }
                          }
                        }
                      }

                      &.items-1 {
                        font-weight: bold;

                        li {
                          &.tb-megamenu-item {
                            &.level-2 {
                              a {
                                &.dropdown-toggle {
                                  &.active-trail {
                                    font-weight: 700;
                                    text-transform: capitalize;
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }

                .search-content {
                  padding-top: 0;
                }

                form.search-block-form,
                form.views-exposed-form {

                  .form-type-search,
                  .js-form-type-textfield {
                    margin-bottom: 0 !important;
                    width: 100%;
                    z-index: 9999;

                    label {
                      color: #011f5b !important;
                      position: relative !important;
                      overflow: visible !important;
                      margin: 0 !important;
                      margin: 0 !important;
                      width: 100% !important;
                      height: auto !important;
                      margin-bottom: 10px !important;
                      font-weight: 700;
                    }

                    input {
                      margin: 0 !important;
                      width: 100% !important;
                      height: 60px !important;
                      background: #fff;
                      border-radius: 10px;
                      padding: 15px 40px 15px 15px;
                      z-index: 999;
                      font-family: $teritoryFont;
                      text-transform: none;

                      &:-webkit-autofill {
                        background-color: transparent !important;
                        -webkit-box-shadow: 0 0 0px 1000px white inset !important;
                        transition: background-color 5000s ease-in-out 0s;
                        color: $primaryColor !important; // Ensures text remains readable
                      }

                      &::placeholder {
                        color: #02014C;
                      }
                    }
                  }

                  .form-actions,
                  [data-drupal-selector="edit-actions"] {
                    position: absolute;
                    right: 13px;
                    top: 48px;
                    z-index: 9999;

                    button {
                      font-size: 0;
                      background-image: url(/themes/custom/penchas/images/icons/search-icon.png);
                      width: 24px;
                      height: 24px;
                      background-color: transparent;
                      background-repeat: no-repeat;
                      background-position: center;
                      background-size: 19px;

                      &::before {
                        display: none;
                      }

                      &:focus {
                        outline: none;
                      }
                    }

                  }
                }
              }

              &.open {
                .dropdown-toggle.tb-megamenu-no-link {
                  span.caret {
                    background: url(../../assets/images/cross-icon.svg) no-repeat;
                  }
                }
              }
            }

            >li {
              &.tb-megamenu-item {
                >.tb-megamenu-submenu {
                  >.mega-dropdown-inner {
                    max-width: 1350px;
                    margin: auto;
                    padding-left: 12px;
                    padding-right: 12px;
                  }
                }
              }
            }

            .menu-hamburguer {
              span {

                &:first-child {
                  display: block;
                  height: 2px;
                  margin: 0 0;
                  right: 0;
                  width: 20px;
                  background: #011f5b;
                  position: absolute;
                  left: auto;
                  transform: rotate();
                  transition: all ease-in-out .3s;
                  top: 20px;
                }

                &:nth-child(2) {
                  display: block;
                  height: 2px;
                  margin: 0 0;
                  right: 0;
                  width: 20px;
                  background: #011f5b;
                  position: absolute;
                  left: auto;
                  transform: rotate();
                  transition: all ease-in-out .3s;
                  top: 27px;
                }

                &:nth-child(3) {
                  display: block;
                  height: 2px;
                  margin: 0 0;
                  right: 0;
                  width: 20px;
                  background: #011f5b;
                  position: absolute;
                  left: auto;
                  transform: rotate();
                  transition: all ease-in-out .3s;
                  top: 34px;
                }

                &.caret {
                  display: none;
                }
              }
            }
          }

          &>.nav-collapse {
            &>ul {
              &.tb-megamenu-nav {
                &>li {
                  &.tb-megamenu-item {
                    &>.tb-megamenu-submenu {
                      &.dropdown-menu {
                        padding: 60px;
                        border: 0;
                        top: 100px;
                        overflow: hidden;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

}

.navbar-brand {
  img {
    @include media-query('mobile') {
      max-width: 148px;
    }
  }
}

article>header {
  opacity: 0;
}

.administrator {
  header {
    position: relative;
    top: 0;
  }
}

@include media-query('tablet') {
  .navbar-toggler {
    .navbar-toggler-icon {
      display: block;
      height: 2px;
      margin: 0 0;
      width: 20px;
      background: #011f5b;
      transition: all ease-in-out .3s;
      top: 0;
      position: relative;

      &:before {
        content: "";
        position: absolute;
        display: block;
        height: 2px;
        margin: 0 0;
        width: 20px;
        background: #011f5b;
        transition: all ease-in-out .3s;
        top: -7px;
      }

      &:after {
        content: "";
        position: absolute;
        display: block;
        height: 2px;
        margin: 0 0;
        width: 20px;
        background: #011f5b;
        transition: all ease-in-out .3s;
        top: 7px;
      }
    }

    position: relative;

    &:before {
      content: "Menu";
      color: #011f5b;
      position: absolute;
      left: -50px;
      top: -4px;
      font-size: 20px;
      font-weight: 700;
      cursor: pointer;
      font-family: tablet-gothic;
    }
  }

  div#CollapsingNavbar {
    transform: none;
    top: 0;
    left: 0;
    width: 100%;
    background: #EBF2FF;
  }

  .offcanvas-body {
    padding: 0;

    nav {
      &>ul {
        &.nav {
          &>li {
            &.nav-item {
              width: 100%;
              margin-bottom: 0;
              padding: 0 18px;

              a {
                &.nav-link--user-login {
                  background: #011F5B;
                  text-align: center;
                  color: #fff;
                  text-decoration: none;
                  border-radius: 10px;
                  padding: 15px;
                  font-size: 18px;
                  line-height: 24px;
                  font-weight: 700;
                  font-family: 'tablet-gothic';
                  text-transform: capitalize;
                  transition: all 0.3s;

                  @include media-query ('tablet') {
                    padding: 13px 15px;
                  }

                  &:hover {
                    background: #ffea3f;
                    color: #011f5b;
                  }

                  &:active,
                  &:visited,
                  &:focus-visible,
                  &::-moz-focus-inner,
                  &:focus {
                    background: #fff;
                    color: #011f5b;
                    filter: none;
                    opacity: 1;
                  }
                }
              }
            }
          }
        }
      }
    }

    .tb-megamenu {
      ul {
        &.tb-megamenu-nav {
          li {
            &.tb-megamenu-item {
              .tb-megamenu-submenu {
                * {
                  position: relative;
                  display: block;
                  box-shadow: none;
                  border: 0;
                  background: 0 0;
                  color: #011f5b;
                  font-size: 18px;
                  line-height: 22px;
                  text-decoration: none;
                  padding-left: 0;
                  padding-right: 0;
                  text-transform: capitalize;
                  font-family: 'tablet-gothic';
                }
              }

              margin: 0;
              width: 100%;

              a {
                font-family: 'tablet-gothic';
                margin: 0;
                display: inline-block !important;
              }

              &.dropdown-submenu {
                &>a {
                  font-weight: bold !important;
                  margin: 0;
                }
              }
            }
          }
        }
      }
    }

    .nav-collapse.always-show.collapse,
    .nav-collapse {
      display: block !important;
      height: 100% !important;
      overflow: visible !important;

    }

    .tb-megamenu.tb-megamenu-main {
      button.btn-navbar {
        display: none;
      }
    }

    .tb-megamenu-submenu {
      &.dropdown-menu {
        display: block !important;
        background: transparent;
        width: 100% !important;
        left: 0;
        padding: 0 18px;
      }

      .mega-dropdown-inner {
        .tb-megamenu-row {
          .tb-megamenu-column {
            &.mega-col-nav {
              width: 100%;
              margin: 0;
            }
          }
        }
      }
    }

    .tb-megamenu-no-link {
      display: none !important;
    }
  }

  header {
    .right-menu {

      .offcanvas-body {
        .tb-megamenu {
          ul {
            &.tb-megamenu-nav {
              li {
                &.tb-megamenu-item {
                  .tb-megamenu-submenu {
                    form {

                      &.search-block-form {
                        .form-type-search {
                          label {
                            height: 30px !important;
                            position: relative !important;
                            width: 100% !important;
                            font-weight: 600;
                          }

                          input {
                            margin: 0 !important;
                            width: 100% !important;
                            height: 60px !important;
                            background: #fff;
                            border-radius: 10px;
                            padding: 15px;
                          }
                        }

                        .form-actions {
                          position: absolute;
                          right: 58px;
                          top: 0;

                          .btn,
                          button {
                            font-size: 0;

                            &:before {
                              content: "";
                              background-image: url(/themes/custom/penchas/images/icons/search-icon.png);
                              position: absolute;
                              top: 36px;
                              width: 50px;
                              height: 50px;
                              background-color: transparent;
                              background-repeat: no-repeat;
                              background-position: 70%;
                            }
                          }
                        }
                      }

                      &.views-exposed-form {

                        .form-type-textfield {
                          width: 100%;

                          label {
                            height: 30px !important;
                            position: relative !important;
                            width: 100% !important;
                            font-weight: 600;
                          }

                          input {
                            margin: 0 !important;
                            width: 100% !important;
                            height: 60px !important;
                            background: #fff;
                            border-radius: 10px;
                            padding: 15px;
                            padding-right: 45px;
                            font-family: $teritoryFont;
                            text-transform: none;

                            &:-webkit-autofill {
                              background-color: transparent !important;
                              -webkit-box-shadow: 0 0 0px 1000px white inset !important;
                              transition: background-color 5000s ease-in-out 0s;
                              color: $primaryColor !important; // Ensures text remains readable
                            }

                            &::placeholder {
                              color: #02014C;
                            }
                          }
                        }

                        .form-actions,
                        [data-drupal-selector="edit-actions"] {
                          position: absolute;
                          right: 58px;
                          top: 0;

                          .btn,
                          button {
                            font-size: 0;

                            &:before {
                              content: "";
                              background-image: url(/themes/custom/penchas/images/icons/search-icon.png);
                              position: absolute;
                              top: 40px;
                              width: 50px;
                              height: 50px;
                              background-color: transparent;
                              background-repeat: no-repeat;
                              background-position: 70%;
                              background-size: 20px;
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

}

.menu-hamburguer {
  position: relative;
  right: -88px;
}

.contextual-region {
  &.penchas-main-menu-block {
    position: static;
  }
}

.user-logged-in {
  .menu--account {
    ul {
      &.nav {
        li {
          a[data-drupal-link-system-path="admin/content"] {
            padding: 19px;
            margin-right: 11px;

            @include media-query ('tablet') {
              padding: 0px;
            }
          }

          a[data-drupal-link-system-path="user/logout"] {
            border: 1px solid #011F5B;
            border-radius: 10px;
            padding: 16px 20px 18px;
            margin-right: 30px;
            text-align: center;
            @supports (-moz-appearance: none){
              padding: 18px 20px 16px;
            }

            @include media-query ('tablet') {
              margin-right: 0;
              padding: 12px 20px;
            }

            &:hover {
              background: #ffea3f;
              color: #011f5b;
              border-color: #ffea3f;
            }
          }

          a {
            font-size: 20px;
            line-height: 24px;
            font-weight: bold;
            color: #011F5B;
            text-decoration: none;
            font-family: 'tablet-gothic';
            padding: 18px 16px 18px 0px;

            &.nav-link-- {
              padding: 19px;
              padding-left: 0;
              padding-right: 30px;

              @include media-query ('tablet') {
                padding: 14px 0;
              }
            }

          }

          .nav-link--user {
            padding: 18px 16px;
          }
        }
      }
    }
  }

  header {
    position: relative;
    top: 0 !important;
    z-index: 12;
  }
}

.menu--account {
  li {
    .nav-link--dashboard-login {
      font-family: $teritoryFont;
      color: $primaryColor;
      padding: 15px 20px;
      font-weight: 700;
      text-decoration: none;
      border: 1px solid $primaryColor;
      border-radius: 10px;
      margin: 0 30px 0 0;
      transition: all ease-in-out 0.3s;
      text-align: center;

      @include media-query ('mobile') {
        margin-right: 0;
        color: #fff;
        background-color: $primaryColor;
      }

      &:hover {
        color: #fff;
        background-color: $primaryColor;
        transition: all ease-in-out 0.3s;
      }
    }

  }
}

/*for MAC's*/
.mac-os {
  .mobile-menu-toggle {
    .btn {
      margin: 2px 0 0 0;
    }

    button {
      margin: 2px 0 0 0;
    }
  }

  .right-menu {
    .btn-default {
      padding: 13px 20px 17px 20px;
    }
  }

  .mobile-menu-toggle {
    position: relative;
    top: 4px;

    @include media-query('mobile') {
      top: 0;
    }
  }

}

.node__content.clearfix {
  margin-top: 0;
}

@include media-query ('tablet') {
  body {
    .tb-megamenu {
      .nav-collapse {
        .dropdown-menu {
          background-color: transparent;
          padding-left: 18px;
          padding-right: 18px;
        }
      }
    }

  }

  .user-logged-in .menu--account ul.nav li .nav-link--user {
    padding-left: 0;
    padding-right: 0;
  }

  header nav .right-menu {
    padding-right: 5px;
  }
}

.offcanvas-body {
  .tb-megamenu {
    ul.tb-megamenu-nav {
      li.tb-megamenu-item {
        .tb-megamenu-submenu {
          ul.tb-megamenu-subnav.level-1.items-2 {
            li.level-2 {
              >a {
                font-weight: 700 !important;
                margin: 0;
              }
            }
          }
        }
      }
    }
  }
}