#edit-field-number-of-residents-value-1-wrapper{
  display:none;
}
.tb-megamenu .nav > li > .tb-megamenu-submenu {
  display: none;
}
.tb-megamenu .nav > li.open > .tb-megamenu-submenu {
  display: block;
}
.tb-megamenu-item span.dropdown-toggle.tb-megamenu-no-link.nav-link {
  cursor: pointer;
}
.search-form #edit-help-link, .search-form #edit-advanced{display:none}

.view-filters {
  display: block !important;
}