

.mobile-menu-toggle {
  font-size: 20px;
  font-weight: 700;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  margin-left: 25px;
  cursor: pointer;
  font-family: $teritoryFont;
  @include media-query('mobile') {
    font-size: 18px;
  }

  button {
    border: 0;
    margin: -4px 0 0 0;
    padding: 0;
    background: none;
    position: relative;
    display: block;
    height: 25px;
    width: 20px;
    @include media-query('mobile') {
      padding-top: 0;
    }
    span {
      display: block;
      height: 2px;
      margin: 0px 0;
      width: 20px;
      background: $primaryColor;
      position: absolute;
      left: 0;
      transform: rotate();
      transition: all ease-in-out 0.3s;
     
      &:nth-child(1){ 
        top: 5px;
      }
      &:nth-child(2){
        top: 12px;
      }
      &:nth-child(3){
        top: 19px;
      }
    }

    
  }
  &.active {
    button {
      span {
        &:nth-child(1){ 
          transform: rotate(45deg);
          top: 10px;
        }
        &:nth-child(2){
          opacity: 0;
        }
        &:nth-child(3){
          transform: rotate(-45deg);
          top: 10px;
        }
      }
    }
  }
}

header {
  border-bottom: 1px solid $primaryColor;
  background: #fff;
  position: relative;
  z-index: 3;
  .navbar {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .right-menu {
    .btn-default {
      @include media-query('mobile') {
        display: none;
      }
    }
    .offcanvas-body {
        justify-content: flex-end;
        nav{ 
          ul{ 
            li.nav-item{ 
              a.nav-link--user-login {
              border: 1px solid #011f5b;
              padding: 15px 20px;
              color: #011f5b;
              font-size: 20px;
              line-height: 24px;
              font-family: tablet-gothic;
              border-radius: 8px;
              font-weight: 700;
              text-decoration: none;
              text-transform: capitalize;
              margin-right: 30px;
            }
          }
        }
      }
      .tb-megamenu{ 
        position: static;
        font-family: 'tablet-gothic';
        ul.tb-megamenu-nav{ 
          position: static;
          li.tb-megamenu-item{ 
            position: static;
            .dropdown-toggle{
              &.tb-megamenu-no-link {
                background-color: #fff;
                border: 0;
                color: #011f5b;
                text-decoration: none;                
                padding: 17px 0;
                font-size: 20px;
                &::after {
                  border: 0;
                }
                span.caret {
                  border: 0;
                }
              }
            }
            .tb-megamenu-submenu {
              left: 0;
              width: 100% !important;
              left: 0;
              background: #EBF2FF;
              * {
                position: relative;
                display: block;
                box-shadow: none;
                border: 0;
                background: transparent;
                color: #011F5B;
                font-size: 18px;
                line-height: 22px;
                text-decoration: none;
                padding-left: 0;
                padding-right: 0;
                text-transform: capitalize;
              }
              ul {
                &.tb-megamenu-subnav {
                  &.level-1 {
                    &.items-2 {
                      & > li {
                        &.tb-megamenu-item {
                          &.level-2 {
                            & > a {
                              font-weight: bold;
                              font-size: 18px;
                              color: #011F5B;
                              text-decoration: none;
                              font-weight: bold;
                              text-transform: capitalize;
                            }
                          }
                        }
                      }
                    }
                    &.items-1 {
                      font-weight: bold;
                      li {
                        &.tb-megamenu-item {
                          &.level-2 {
                            a {
                              &.dropdown-toggle {
                                &.active-trail {
                                  font-weight: 700;
                                  text-transform: capitalize;
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
              .tb-megamenu-column.span12{ 
                .tb-megamenu-column-inner{ 
                  a {
                    
                  }
                }
              }
              form.search-block-form{ 
                .form-type-search{ 
                  margin-bottom: 0 !important;
                  label {                    
                      color: #011f5b !important;
                      position: relative !important;
                      overflow: visible !important;
                      margin: 0 !important;
                      margin: 0 !important;
                      width: 100% !important;
                      height: auto !important;
                      margin-bottom: 10px !important;      
                      font-weight: 700;          
                  }
                  input {
                      margin: 0 !important;
                      width: 100% !important;
                      height: 60px !important;
                      background: #fff;
                      border-radius: 10px;
                      padding: 15px;
                  }
                }
                .form-actions {
                    position: absolute;
                    right: 58px;
                    top: 0;
                    button {
                      font-size: 0;
                      &:before {
                        content: "";
                        background-image: url(/themes/custom/penchas/images/icons/search-icon.png);
                        position: absolute;
                        top: 40px;
                        width: 50px;
                        height: 50px;
                        background-color: transparent;
                        background-repeat: no-repeat;
                        background-position: center;
                    }
                  }
                }
              }                          
            }        
          }
          > li {
            &.tb-megamenu-item {
              &.level-1 {
                &.mega {
                  &.dropdown {
                    span {  
                                    
                      &:first-child {  
                        display: block;
                        height: 2px;
                        margin: 0 0;
                        right: 270px;
                        width: 20px;
                        background: #011f5b;
                        position: absolute;
                        left: auto;
                        transform: rotate();
                        transition: all ease-in-out .3s;                               
                        top: 41px;
                      }
                      &:nth-child(2) {  
                        display: block;
                        height: 2px;
                        margin: 0 0;
                        right: 270px;
                        width: 20px;
                        background: #011f5b;
                        position: absolute;
                        left: auto;
                        transform: rotate();
                        transition: all ease-in-out .3s;                               
                        top: 48px;
                      }
                      &:nth-child(3) {  
                        display: block;
                        height: 2px;
                        margin: 0 0;
                        right: 270px;
                        width: 20px;
                        background: #011f5b;
                        position: absolute;
                        left: auto;
                        transform: rotate();
                        transition: all ease-in-out .3s;                               
                        top: 55px;
                      }
                      &.caret {
                        display: none;
                    }
                    }
                    
                  }
                }                
              }
              > .tb-megamenu-submenu{
                > .mega-dropdown-inner {
                    max-width: 1350px;
                    margin: auto;
                    padding-left: 12px;
                    padding-right: 12px;
                }
              } 
            }
          } 
        }
        & > .nav-collapse {
					& > ul {
						&.tb-megamenu-nav {
							& > li {
								&.tb-megamenu-item {
									& > .tb-megamenu-submenu {
										&.dropdown-menu {
											padding: 60px;
                      border: 0;
										}
									}
								}
							}
						}
					}
				}
      }
    }
  }
}

.navbar-brand {
  img {
    @include media-query('mobile') {
      max-width: 148px;
    }
  }
}


/*for MAC's*/
.mac-os{
  .mobile-menu-toggle {
    .btn {
      margin: 2px 0 0 0;
    }
    button {
      margin: 2px 0 0 0;
    }
  }
  .right-menu {
    .btn-default {
      padding: 13px 20px 17px 20px;
    }
  }
  .mobile-menu-toggle {
    position: relative;
    top: 4px;
    @include media-query('mobile') {
      top: 0;
    }
  }
  
}