{#
/**
 * Default theme implementation for Views to output a Fullcalendar View.
 *
 * Available variables:
 * - options: View plugin style options:
 *   - classes: CSS classes.
 *   - defaultDate: Default date of the calendar
 *   - start: Field name of start date
 *   - end: Field name of end date
 *   - languageSelector: Flag for the language dropdown box
 * - view_index: View index
 * - showAddEvent: Show add event button
 * - entity_id: The Entity type machine name
 *
 * @see template_preprocess_views_view_fullcalendar()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    options.classes
  ]
%}
<div{{ attributes.addClass(classes) }}>
  <div class="calendar-filter">
    <h4 class="calendar-filter-title">Current View</h4>
    <div class="select-outer">
      <select name="calendar_view">
        <option value="volvo">Event</option>
        <option value="saab">Room</option>
      </select>
    </div>

    <div class="event-types">
      <div class="form-check form-item checkbox">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked1" checked>
        <label class="form-check-label" for="flexCheckChecked1">
          Floor Events
        </label>
      </div>
      <div class="form-check form-item checkbox">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked2" checked>
        <label class="form-check-label" for="flexCheckChecked2">
          House events
        </label>
      </div>
      <div class="form-check form-item checkbox">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked3" checked>
        <label class="form-check-label" for="flexCheckChecked3">
          Campus-wide Events
        </label>
      </div>
      <div class="form-check form-item checkbox">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked4" checked>
        <label class="form-check-label" for="flexCheckChecked4">
          Notices
        </label>
      </div>
    </div>
    <button class="btn btn-teritory medium" type="button">Reserve a Room</button>
    <button class="btn btn-teritory medium" type="button">Add Event</button>
  </div>
  <div class="calendar-container">
    <div class="js-drupal-fullcalendar"
      data-calendar-view-index="{{ view_index }}"
      data-calendar-view-name="{{ view_id }}"
      data-calendar-display="{{ display_id }}"
    >
      <div class="events-calendar_loader"><div class="lds-ring"><div></div><div></div><div></div><div></div></div></div>
    </div>
  </div>
</div>

